/* "auto" makes the left and right margins center the wrapper */
#wrap {
    margin: 25px auto 0 auto;
    width: 800px;
    height: 600px;
    background: url('/static/images/Pinboard%20Assets/benefit-pinboard-800px.png');
}

/* Styles for main layout */
html, body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

.img-text {
    position: absolute;
    left: -9999px;
}

div#header {
    background: #fff url('../images/Beneselfies-Pattern-Header.png') top center repeat;
    height: 94px;
    position: relative;
    text-align: center;
    z-index: 3;
}

div#header img {
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 0px;
}

div#header-divider {
    background: #fff url('../images/beneselfies-header-wood-border.png') top center repeat-x;
    height: 26px;
    position: relative;
    z-index: 2;
}

div#main-nav {
    background: #000;
    height: 15px;
    position: relative;
    z-index: 2;
}

div#main-nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

div#main-nav ul li {
    display: inline-block;
    *display: inline;
    width: 196px;
    zoom: 1;
}

div#main-nav ul li a {
    color: #fff;
    display: inline-block;
    *display: inline;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    zoom: 1;
}

div#main-nav ul li a:hover, div#main-nav ul li a:active {
    background: #f964a2;
}

div#left-lamp {
    position: absolute;
    top: 168px;
    width: 100%;
}

div#left-lamp img {
    display: block;
    left: -500px;
    margin: auto;
    position: relative;
}

div#left-book {
    position: absolute;
    top: 658px;
    width: 100%;
}

div#left-book img {
    display: block;
    left: -489px;
    margin: auto;
    position: relative;
}

div#right-lamp {
    position: absolute;
    top: 218px;
    width: 100%;
}

div#right-lamp img {
    display: block;
    left: 500px;
    margin: auto;
    position: relative;
}

div#right-book {
    position: absolute;
    top: 708px;
    width: 100%;
}

div#right-book img {
    display: block;
    left: 500px;
    margin: auto;
    position: relative;
}

div#locker-door {
    position: absolute;
    top: 218px;
    width: 100%;
}

div#locker-door img {
    display: block;
    height: 965px;
    left: -588px;
    margin: auto;
    position: relative;
    top: -9px;
    z-index: 5
}

div#upper-content {
    background: url('../images/beneselfies-white-bordered-rectangle.png') no-repeat 0 0;
    color: #868686;
    font-size: 17px;
    height: 286px;
    margin: 15px auto;
    padding: 10px 30px;
    width: 689px;
}

div#upper-content h1 {
    color: #fe647c;
    font-family: 'Stalemate', cursive;
    font-size: 50px;
    margin: 0;
}

div#upper-content p {
    margin: 0;
}

div#upper-content em {
    font-family: 'Englebert', Arial, sans-serif;
    font-weight: bold;
}

div#upper-content ul {
    list-style: none;
    margin: 12px 0;
}

div#upper-content ul li {
    line-height: 25px;
}

div#upper-content ul li span {
    background-image: url('../images/list_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    *display: inline;
    font-weight: bold;
    text-indent: 8px;
    width: 25px;
    zoom: 1;
}

div#upper-content-2 {
    height: 100%;
    margin: 15px auto 0 auto;
    width: 749px;
    text-align: center;
}

div#upper-content-2 #start {
    cursor: pointer;
}

div.upper-content-2 {
    background: url('../images/beneselfies-white-bordered-rectangle-small.png') no-repeat 0 0;
    color: #868686;
    float: left;
    font-size: 13px;
    height: 286px;
    margin: 15px 4px;
    padding: 10px 30px;
    position: relative;
    width: 305px;
}

div.upper-content-2 img#dotted-heart {
    left: 170px;
    position: absolute;
    top: 15px;
}

div.upper-content-2 img#xoxo {
    left: 235px;
    position: absolute;
    top: 260px;
}

div.upper-content-2 img#cheerleader {
    left: 330px;
    position: absolute;
    top: 125px;
}

div.upper-content-2 h1 {
    color: #fe647c;
    font-family: 'Stalemate', cursive;
    font-size: 30px;
    margin: 0;
}

div.upper-content-2 h2 {
    color: #fe647c;
    font-size: 14px;
    margin: 0;
}

div.upper-content-2 p {
    margin: 0;
}

div.upper-content-2 p.top-padded {
    margin: 0;
    padding-top: 15px;
}

div.upper-content-2 em {
    font-family: 'Englebert', Arial, sans-serif;
    font-weight: bold;
}

div.clear {
    clear: both;
}

div#footer {
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    position: relative;
}

.polaroid {
    position: relative;
    width: 175px;
    height: 175px;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.polaroid div.buttons {
    text-align: center;
    margin-top: 15px;
}

.polaroid div.buttons img {
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: url(../images/please-wait-3.png) center center no-repeat;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    z-index: 100000;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    width: 239px !important;
    z-index: 10100
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 100000 !important;
}

.tag {
    position: absolute;
}

.tag:active {
    cursor: move;
    padding-right: 10px;
}

.box {
    border: solid 3px red;
    width: 200px;
    height: 100px;
    float: left;
    padding-right: 10px;
}

.help_div {
    z-index: 100000;
    margin: 0 auto;
}

.descript {
    text-align: center;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
}

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 750px;
    height: 247px;
}

.wraptocenter * {
    vertical-align: middle;
}

/*---- How to Play ----*/
img.close {
    position: relative;
    top: -116px;
}

/*---- Enter to Win ----*/
div#enter-to-win {
    background: url('../images/Pinboard Assets/Text/enter-to-win.png') top center no-repeat;
    color: #333;
    font-size: 12px;
    height: 312px;
    margin: auto;
    width: 612px;
}

div#enter-to-win form {
    margin: 0 25px;
    padding-top: 78px;
}

div#enter-to-win form div.first-name {
    display: inline-block;
    *display: inline;
    height: 55px;
    padding: 0 10px;
    vertical-align: top;
    width: 44%;
    zoom: 1;
}

div#enter-to-win form div.first-name input {
    border: 4px solid #ffc0cb;
    height: 25px;
    padding: 1px 0;
    text-align: center;
    width: 100%;
}

div#enter-to-win form div.first-name div {
    background: #ffc0cb;
    color: #fff;;
    margin-bottom: 5px;
    padding: 0 4px;
    text-align: center;
    width: 100%;
}

div#enter-to-win form div.last-name {
    display: inline-block;
    *display: inline;
    height: 55px;
    padding: 0 10px;
    vertical-align: top;
    width: 44%;
    zoom: 1;
}

div#enter-to-win form div.last-name input {
    border: 4px solid #ffc0cb;
    height: 25px;
    padding: 1px 0;
    text-align: center;
    width: 100%;
}

div#enter-to-win form div.last-name div {
    background: #ffc0cb;
    color: #fff;
    margin-bottom: 5px;
    padding: 0 4px;
    text-align: center;
    width: 100%;
}

div#enter-to-win form div.email-input {
    display: inline-block;
    *display: inline;
    height: 55px;
    padding: 0 10px;
    text-align: center;
    width: 95%;
    zoom: 1;
}

div#enter-to-win form div.email-input input {
    border: 4px solid #ffc0cb;
    height: 25px;
    padding: 1px 0;
    text-align: center;
    width: 62%;
}

div#enter-to-win form div.email-input div {
    background: #ffc0cb;
    color: #fff;
    margin: 0 auto 5px auto;
    padding: 0 4px;
    text-align: center;
    width: 62%;
}

div#enter-to-win form div.terms-check p {
    margin: 5px 0;
}

.ui-autocomplete .ui-menu-item {
    font-size: x-small;
}

/* Add pointer to image links. */
#selects img, #zoom, #next, #back, #share, #view, #okay, #twitter-follow, #facebook, .okay-buttons img, #prizes-button {
    cursor: pointer;
}

/* Reposition button links. */
#okay_fine img, #post, #close, #yes_sure, #no_back, #yes_tags, #no_tags {
    position: relative;
    top: -65px;
}

#view {
    position: relative;
    top: 6px;
}

#okay {
    position: relative;
    top: -68px;
}

#twitter-follow, #facebook {
    margin-top: 10px;
    width: 55px;
}

/* Terms and conditions popup. */
#terms-and-conditions-popup-container {
    left: 0;
    position: absolute;
    width: 100%;
}

#terms-and-conditions-popup {
    display: none;
    margin: auto;
    position: relative;
    text-align: center;
    top: 125px;
    width: 612px;
    z-index: 20;
}

#terms-and-conditions-popup > div {
    color: #333;
    font-size: 12px;
    height: 158px;
    margin: 0 30px;
    overflow-y: scroll;
    position: absolute;
    text-align: left;
    top: 88px;
}

#terms-and-conditions-popup-button {
    cursor: pointer;
    position: relative;
    top: -69px;
}

/* Prizes */
#prizes-button-container {
    text-align: center;
}

#prizes-button {
    position: relative;
    top: -5px;
}

#prizes-popup-container {
    left: 0;
    position: absolute;
    width: 100%;
}

#prizes-popup {
    display: none;
    margin: auto;
    position: relative;
    text-align: center;
    top: 125px;
    width: 612px;
    z-index: 20;
}

#prizes-popup > div {
    color: #333;
    font-size: 12px;
    height: 158px;
    margin: 0 40px;
    overflow-y: scroll;
    position: absolute;
    text-align: left;
    top: 88px;
}

#prizes-popup-button {
    cursor: pointer;
    position: relative;
    top: -69px;
}

/* IE Warning */
#ie-warning {
    background: rgba(0, 0, 0, 0.7);
    display: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

#ie-warning-popup {
    margin: auto;
    position: relative;
    text-align: center;
    top: 250px;
    width: 356px;
    z-index: 20;
}

#ie-warning-popup-button {
    cursor: pointer;
    position: relative;
    top: -60px;
}

/* New Landing Page */
#landing-page-container {
    overflow: hidden;
    position: relative;
}

#landing-page {
    height: 100%;
    margin: 15px auto 0 auto;
    text-align: center;
    width: 749px;
}

#landing-page > div {
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

#landing-page > div > img {
    left: -295px;
    position: relative;
    top: 230px;
    width: 410px;
}

#landing-page #share-grouping {
    left: -135px;
    position: relative;
    top: 20px;
}

#landing-page #like-grouping {
    left: 85px;
    position: relative;
    top: -110px;
}

#landing-page #logo-grouping {
    left: 40px;
    position: relative;
    top: -65px;
    margin-bottom: -55px;
}

#landing-page #start {
    cursor: pointer;
    left: 115px;
    position: relative;
/ top : - 50 px;
}

#landing-page > p {
    position: relative;
    z-index: 10;
}

.fb-like span, .fb-like iframe {
    min-width: 100px !important;
    min-height: 30px !important;
}

.image_picker_image {
    width: 100px !important;
    height: 100px !important;
}

.main-app {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-height: 1000px;
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .main-app {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        max-height: 600px;
    }
}

@media only screen
and (min-width: 1224px) {
    .main-app {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        max-height: 600px;
    }
}

.veritcal-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    text-align: center;
    margin: 0 auto;
}

.transparent-box {
    background: rgba(255, 255, 255, 0.333);
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 2;
}

.logins img:not(:last-child) {
    margin-right: 20px;
}

.after-trans {
    display: none;
}

#instagram-lib {
    max-height: 600px;
    width: 100%;
    overflow-y: hidden;
}

#instagram-lib div#images {
    overflow-y: scroll;
    position: relative;
    height: auto;
    max-height: 500px;
}

button {
    background: #000;
    font-family: 'Raleway', serif;
    font-weight: 900;
    color: #fff;
    padding: 20px 50px;
    border: none;
    box-shadow: none;
}

.transparent-box button {
    background: #000;
    font-family: 'Raleway', serif;
    font-weight: 900;
    color: #fff;
    padding: 20px 50px;
    width: 80%;
    border: none;
    margin: 3% 2%;
    box-shadow: none;
}

button:hover, button:active, button:focus {
    border: none;
    box-shadow: none;
}

.current-instruction span.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: solid black 2px;
    margin-right: 5px;
}

.current-instruction span.circle:nth-child(3) {
    background: #A5A7A9;
}

.current-instruction span.circle:nth-child(4) {
    background: #201D1E;
}

header {
    max-width: 960px;
    height: 50px;
    margin: 0 auto;
    padding: 36px 15px;
}

.nav-bar {
    display: inline;
    text-align: right;
    float: right;

}

.nav-bar > ul > li > a {
    color: #fff;
    font-family: 'Lusitana', sans-serif;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    float: left;
    text-decoration: none;
    line-height: 16px;
    text-align: left;
    padding: 0 0 36px 0;
}

.nav-bar > ul > li > ul > li > a {
    color: #fff;
    font-family: 'Lusitana', sans-serif;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    float: left;
    text-decoration: none;
    line-height: 16px;
    text-align: left;
}

.nav-bar > ul > li:not(:first-child) {
    margin-left: 15px;
}

.nav-bar > ul > li > ul > li {
    display: block;
}

.nav-bar > ul > li > a:after {
    content: "";
    position: relative;
    font-size: 10px;
    display: inline-block !important;
    margin-left: 6px;
}

.nav-bar > ul > li > a:before {
    background-color: #888888;
    content: "";
    display: block;
    height: 0;
    width: 100%;
    position: absolute;
    top: -36px;
    left: 0px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
}

.nav-bar > ul > li:hover > a:before {
    background-color: #888888;
    content: "";
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    top: -36px;
    left: 0px;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
}

.full-back {
    background: url('../TOM-IAMTOM-Mock-Up-Low-Res.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
}

.nav-bar > ul > li {
    display: inline-block;
    position: relative;
}

.nav-bar ul ul {
    text-transform: none;
    display: none;
    width: 200px;
    position: absolute;
    top: 100%;
    left: -10px;
    z-index: 100;
    background: #000000;
    margin-top: 0;
    font-size: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #bbbbbb;
    padding: 6px 12px;
    text-align: left;
}

.sub-menu {
    list-style: none;
}

.nav-bar ul ul li:not(:first-child) {
    display: block;
    float: none;
    margin-left: 0;
    border-top: 1px solid #eaeaea;
    margin-top: 20px;
    padding-top: 5px;
}

#image-main {
    width: 75%;
    height: 100%;
    background: #000;
    display: inline-block;
}

#image-side {
    width: 25%;
    height: 100%;
    background: #fff;
    float: left;
    position: relative;
}

.after-inst {
    padding-top: 50px;
}

.bottom-logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#buttons-done-back {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 20px;
    padding: 0 10px;
}

#arrow {
    position: relative;
    left: 220px;
    margin-bottom: 50px;
}

#saved-side {
    width: 25%;
    height: 100%;
    background: #fff;
    float: left;
    position: relative;
}

#saved-main {
    width: 75%;
    height: 100%;
    background: #000;
    display: inline-block;
}

.saved-image {
    display: none;
    height: 100%;
    padding-top: 50px;
}

#saved-buttons {
    float: right;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin-top: -100%;
    padding-top: 35%;
}

#take-photo-div {
    display: none;
    background: #fff;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

#CSPhotoSelector {
    display: none;
    width: 100%;
    height: 100%;
    padding: 50px 0 0;;
    position: static
}

.trans-2 {
    padding: 10px 20px;
    width: 40%;
    margin: 20px auto;
}

#done-div {
    display: none;
    padding-top: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen
and (max-height: 560px) {
    #CSPhotoSelector .CSPhotoSelector_content {
        height: 380px;
    }

    .bottom-logo {
        opacity: 0;
    }

    #buttons-done-back {
        margin-top: 0;
        margin-bottom: 10px;
    }

    #saved-side > div {
        margin-top: -40px;
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 568px) {
    .main-app {
        width: 100%;
        max-width: 568px;
        margin: 0 auto;
        height: 100%;
    }

    .full-back {
        background: url('../iPhone%20pgs/BG-Pic.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }

    #done-div {
        padding-top: 20px;
    }

    .trans-2 {
        width: 80%;
    }

    header {
        display: none;
    }

    p {
        font-size: 0.8em;
    }

    #CSPhotoSelector {
        padding: 0;
    }

    #image-main {
        width: 100%;
        height: auto;
        background: #000;
        display: inline-block;
    }

    #image-side {
        width: 100%;
        height: auto;
        background: #333;
        float: left;
        position: relative;
    }

    #saved-main {
        width: 100%;
        height: auto;
        background: #000;
        display: inline-block;
    }

    #saved-side {
        width: 100%;
        height: auto;
        background: #333;
        float: left;
        position: relative;
    }

    .after-inst {
        padding-top: 0;
    }

    .transparent-box button {
        padding: 5px 10px;
    }

    .bottom-logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #buttons-done-back {
        padding: 0;
    }

    #buttons-done-back button {
        padding: 5px;
        font-weight: 400;
    }

    #done {
        padding: 10px;
        font-weight: 400;
    }

    #back-to-select {
        margin-left: 20px;
    }

    .current-instruction {
        color: #fff;
    }

    .current-instruction p:first-child {
        color: #fff;
    }

    span.circle.white {
        background: #fff;
    }

    #arrow {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-bottom: 100px;
        margin-top: -50px;
    }

    .saved-image {
        padding-top: 0;
    }

    #CSPhotoSelector .CSPhotoSelector_dialog {
        width: auto;
    }

    #CSPhotoSelector .CSPhotoSelector_dialog {
        width: auto;
    }

    #take-photo-div {
        padding-top: 0;
    }

    video {
        width: 100% !important;
        height: auto !important;
    }
}