/* "auto" makes the left and right margins center the wrapper */
#wrap {
    width: 900px;
    margin: 0 auto;
}

.content {
    border: solid #ccc 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 3px;
    position: relative;
    -moz-box-shadow: 0px 2px 10px #666;
    -webkit-box-shadow: 0px 2px 10px #666;
    box-shadow: 0px 2px 10px #666;
    background-color: white;
}

.polaroid {
    position: relative;
    width: 245px;
    height: 269px;
    display: inline-block;
}

.polaroid div.buttons {
    text-align: center;
}

.polaroid div.buttons img {
    cursor: pointer;
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(../images/loader.gif) center center no-repeat rgba(255,255,255,0.5);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
    z-index: 100000;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    width: 239px !important;
    z-index: 10100
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 100000 !important;
}

.tag {
    position: absolute;
}

.tag:active {
    cursor: move;
    padding-right: 10px;
}

.box {
    border: solid 3px red;
    width: 200px;
    height: 100px;
    float: left;
    padding-right: 10px;
}
