/* "auto" makes the left and right margins center the wrapper */
#wrap {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    background: url('/static/images/Pinboard%20Assets/benefit-pinboard-800px.png');
}

/* Styles for main layout */
html, body {
    background: #D7EEE8 url('../images/Pinboard%20Assets/New%20Landing%20Page%20Assets/beneselfies-pattern-footer.png') repeat 0 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

div#header {
    background: #fff url('../images/Beneselfies-Pattern-Header.png') top center repeat;
    height: 94px;
    position: relative;
    text-align: center;
    z-index: 3;
}

div#header img {
    position: relative;
    top: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 0px;
}

div#header-divider {
    background: #fff url('../images/beneselfies-header-wood-border.png') top center repeat-x;
    height: 26px;
    position: relative;
    z-index: 2;
}

div#main-nav {
    background: #000;
    color: #fff;
    position: relative;
    z-index: 2;
}

div#main-nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

div#main-nav ul li {
    display: inline-block;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 32%;
}

div#left-lamp {
    position: absolute;
    top: 168px;
    width: 100%;
}

div#left-lamp img {
    display: block;
    left: -500px;
    margin: auto;
    position: relative;
}

div#left-book {
    position: absolute;
    top: 658px;
    width: 100%;
}

div#left-book img {
    display: block;
    left: -489px;
    margin: auto;
    position: relative;
}

div#right-lamp {
    position: absolute;
    top: 218px;
    width: 100%;
}

div#right-lamp img {
    display: block;
    left: 500px;
    margin: auto;
    position: relative;
}

div#right-book {
    position: absolute;
    top: 708px;
    width: 100%;
}

div#right-book img {
    display: block;
    left: 500px;
    margin: auto;
    position: relative;
}

div#locker-door {
    position: absolute;
    top: 218px;
    width: 100%;
}

div#locker-door img {
    display: block;
    height: 965px;
    left: -588px;
    margin: auto;
    position: relative;
    top: -9px;
    z-index: 5
}

div#upper-content {
    background: url('../images/beneselfies-white-bordered-rectangle.png') no-repeat 0 0;
    color: #868686;
    font-size: 17px;
    height: 286px;
    margin: 15px auto;
    padding: 10px 30px;
    width: 689px;
}

div#upper-content h1 {
    color: #fe647c;
    font-family: 'Stalemate', cursive;
    font-size: 50px;
    margin: 0;
}

div#upper-content p {
    margin: 0;
}

div#upper-content em {
    font-family: 'Englebert', Arial, sans-serif;
    font-weight: bold;
}

div#upper-content ul {
    list-style: none;
    margin: 12px 0;
}

div#upper-content ul li {
    line-height: 25px;
}

div#upper-content ul li span {
    background-image: url('../images/list_bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    font-weight: bold;
    text-indent: 8px;
    width: 25px;
}

div#upper-content-2 {
    margin: 15px auto;
    width: 749px;
    text-align: center;
}

div#upper-content-2 #start {
    cursor: pointer;
}

div.upper-content-2 {
    background: url('../images/beneselfies-white-bordered-rectangle-small.png') no-repeat 0 0;
    color: #868686;
    float: left;
    font-size: 13px;
    height: 286px;
    margin: 15px 4px;
    padding: 10px 30px;
    position: relative;
    width: 305px;
}

div.upper-content-2 img#dotted-heart {
    left: 170px;
    position: absolute;
    top: 15px;
}

div.upper-content-2 img#xoxo {
    left: 235px;
    position: absolute;
    top: 260px;
}

div.upper-content-2 img#cheerleader {
    left: 330px;
    position: absolute;
    top: 125px;
}

div.upper-content-2 h1 {
    color: #fe647c;
    font-family: 'Stalemate', cursive;
    font-size: 30px;
    margin: 0;
}

div.upper-content-2 h2 {
    color: #fe647c;
    font-size: 14px;
    margin: 0;
}

div.upper-content-2 p {
    margin: 0;
}

div.upper-content-2 p.top-padded {
    margin: 0;
    padding-top: 15px;
}

div.upper-content-2 em {
    font-family: 'Englebert', Arial, sans-serif;
    font-weight: bold;
}

div.clear {
    clear: both;
}

div#footer {
    background: url('../images/Background-1.png') 0 0 repeat;
    border-top: 10px solid #000;
    bottom: 0;
    color: #868686;
    font-family: 'Englebert', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    display: none;
}

div#footer div {
    margin: auto;
    width: 700px;
}

div#footer div a {
    display: inline-block;
    margin-right: 35px;
    vertical-align: middle;
}

div#footer div em {
    vertical-align: middle;
}

.first-name {
    width: 40%;
}
.first-name input {
    border: 4px solid #ffc0cb;
    height: 30px;
    text-align: center;
    width: 100%:
}
.last-name {
    width: 40%;
}
.last-name input {
    border: 4px solid #ffc0cb;
    height: 30px;
    text-align: center;
}
.email input {
    border: 4px solid #ffc0cb;
    height: 30px;
    text-align: center;
}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    position: relative;
}

.polaroid {
    position: relative;
    width: 175px;
    height: 175px;
    display: inline-block;
}

.polaroid div.buttons {
    text-align: center;
    margin-top: 15px;
}

.polaroid div.buttons img {
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: url(../images/loader.gif) center center no-repeat rgba(255, 255, 255, 0.5);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    z-index: 100000;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    width: 239px !important;
    z-index: 10100
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 100000 !important;
}

.tag {
    position: absolute;
}

.tag:active {
    cursor: move;
    padding-right: 10px;
}

.box {
    border: solid 3px red;
    width: 200px;
    height: 100px;
    float: left;
    padding-right: 10px;
}

.help_div {
    z-index: 100000;
    margin: 0 auto;
}

.descript {
    text-align: center;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
}

.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 750px;
    height: 247px;
}
.wraptocenter * {
    vertical-align: middle;
}
