{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Beneselfies by Benefit Cosmetics Canada - Tag Your Friends and Win!</title>
    <meta name="description"
          content="Tag your friends and share your shameless BENESELFIES on Facebook! Enter to win the ULTIMATE fashion, beauty and tech prizes with Benefit Cosmetics Canada!">
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="upper-content-2" style="margin-top: 0px; width: 100%;">
    <img style="margin-top: 20px;" src="{% static 'images/Coming Soon Page/coming-soon-logos.png' %}" alt="">
</div>
</body>
</html>