{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
<div class="content" id="wrap"
     style="width: 1000px; height:1333px;">
    <div>
        <img src="{{ image }}"/>

        <div id="confirm"
             style="background: url('/static/images/Next-Black.png'); width: 102px; position: absolute; height: 52px; margin-top: -300px;  float: right; margin-left: 750px; z-index: 1000; border-radius: 15px; float: right"></div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
    FB.init({
        appId: '151985691672341',                        // App ID from the app dashboard
        cookie: true,
        status: true,                                 // Check Facebook Login status
        xfbml: true                                  // Look for social plugins on the page
    });
    $('#confirm').click(function () {
        FB.api('/me/photos?access_token=' + FB.getAuthResponse()['accessToken'].toString(), 'post', {
            url: window.location.origin + "{{ image }}"
        }, function (response) {
            window.location = "/finish/"
        });
    });
</script>
</body>
</html>