{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body onload='location.href="#app"'>
<div id="header"><img src="{% static 'images/beneselfies-header-spread-w-logo.png' %}"/></div>
<div id="header-divider"></div>
<div id="main-nav" style="margin-bottom: 25px">
    <ul>
        <li>What's New</li>
        <li>Instagram</li>
        <li>Twitter</li>
    </ul>
</div>
<div id="left-lamp"><img src="{% static 'images/beneselfies-lamp.png' %}"/></div>
<div id="right-lamp"><img src="{% static 'images/beneselfies-lamp.png' %}"/></div>
<div id="left-book"><img src="{% static 'images/book-left.png' %}"/></div>
<div id="right-book"><img src="{% static 'images/book-right.png' %}"/></div>
<div class="content" id="wrap">
    <a name="app"></a>

    <div id="overlay"
         style=" position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.8)"></div>
    <div class="email" style="position: absolute; top: 100px; left: 75px; display: none">
        <img src="/static/images/Pinboard%20Assets/beneselfies-app-box-660x300.png" alt="" width="660" height="400">

        <div style="margin-top: -370px; padding-right: 5px; padding-left: 5px; text-align: center">
            <img src="/static/images/Pinboard%20Assets/Text/tell-us-a-bit-about-yourself.png" alt="">

            <form action="/email/" method="post" id="email_form"
                  style="padding-left: 60px; width: 550px; height: 300px; overflow: hidden">
                {% csrf_token %}
                <input type="hidden" value="" name="user_id" id="user_id">

                <div style="display: inline">
                    <input type="text" id="first_name" placeholder="First Name" name="first_name"
                           style="text-align: center; width: 40%; height: 30px; border: 4px solid pink">
                    <input type="text" id="last_name" placeholder="Last Name" name="last_name"
                           style="text-align: center; width: 40%; height: 30px; margin-left:80px; border: 4px solid pink">
                </div>
                <br>

                <div id="firstNameMsg"
                     style="color: white; background-color: pink; width: 30%; text-align: center; display: inline-block"></div>
                <div id="lastNameMsg"
                     style="color: white; background-color: pink; width: 30%; text-align: center; margin-left: 26%; display: inline-block"></div>

                <div style="text-align: center">
                    <input type="text" id="email" placeholder="Email" name="email"
                           style="margin-top: 20px; text-align: center; width: 45%; height: 30px; border: 4px solid pink">
                    <br>

                    <div id="emailMsg"
                         style="color: white; background-color: pink; width: 45%; display:inline-block; text-align: center; margin-left: -12px"></div>
                </div>
                <br>

                <div style="text-align: center">
                    <input type="checkbox" id="terms" name="terms" style="margin-right: 10px">Hey gorgeous, don’t forget
                    to agree to our <a
                        href="#">terms
                    and conditions!</a>

                    <div id="termsMsg"
                         style="color: white; background-color: pink; width: 70%; text-align: center; display: inline-block"></div>
                    {% if messages %}
                        {% for message in messages %}
                            <div id="errors"
                                 style="color: white; background-color: pink; width: 70%; text-align: center; display: inline-block">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <p>In order to continue, please like us on Facebook!</p>
                </div>

                <div style="text-align: center">
                    <img id="like-alternate"
                         src="/static/images/like.png"/>
                    <img id="login"
                         src="/static/images/like.png"/>
                </div>
                <div style="text-align: center; margin-top:20px; width: 80px; height: 27px;">
                    <div id="fb-root" style="text-align: center">
                        <div id="like-button" class="fb-like" data-width="450"
                             data-href="https://www.facebook.com/benefitcosmeticscanada"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="how" style="position: absolute; top: 140px; left: 200px">
        <img src="/static/images/Pinboard%20Assets/Text/how-to-play.png" alt="">

        <div style="text-align: center;"><img src="/static/images/Pinboard%20Assets/Buttons/okay.png"
                                              alt="" class="close">
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<script type="text/javascript">
    function preventSubmission() {
        var $firstname = $('#first_name');
        var $lastname = $('#last_name');
        var $firstNameMsg = $('#firstNameMsg');
        var $lastNameMsg = $('#lastNameMsg');
        var $email = $('#email');
        var $emailMsg = $('#emailMsg');
        var $termsMsg = $('#termsMsg');
        $emailMsg.text('');
        $firstNameMsg.text('');
        $lastNameMsg.text('');
        $termsMsg.text('');
        var flag = false;
        if ($firstname.val() == '') {
            $firstNameMsg.text('Required');
            flag = true;
        }
        if ($lastname.val() == '') {
            $lastNameMsg.text('Required');
            flag = true;
        }
        if ($email.val() == '' || !validateEmail($email.val())) {
            $emailMsg.text('Please enter a valid email address');
            flag = true;
        }
        if (!$('#terms').is(":checked")) {
            $termsMsg.text('Please accept the terms and conditions to continue');
            flag = true;
        }
        if (flag == true) {
            event.preventDefault();
            return false;
        }
        return true;
    }
    function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

</script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    $(function () {
        var $how = $('.how');
        var $email = $('.email');
        $(".close").click(function () {
            $how.hide();
            $email.show();
        });
        var user_id = '';
        var $like = $('#like-alternate');
        $('#like-button').hide();
        // init the FB JS SDK
        FB.init({
            appId: '151985691672341',                        // App ID from the app dashboard
            cookie: true,
            status: true,                                 // Check Facebook Login status
            xfbml: true                                  // Look for social plugins on the page
        });

        FB.Event.subscribe('edge.create',
                function () {
                    if (preventSubmission()) {
                        $("#user_id").val(user_id);
                        $('#email_form').submit();
                    } else {
                        $('#like-alternate').show();
                    }
                }
        );
        FB.Event.subscribe('auth.authResponseChange', function (response) {
            // Here we specify what we do with the response anytime this event occurs.
            if (response.status === 'connected') {
                // The response object is returned with a status field that lets the app know the current
                // login status of the person. In this case, we're handling the situation where they
                // have logged in to the app.
                $('#login').hide();
                user_id = response.authResponse.userID;
                var page_id = "171685016222749"; //Change to this page
                FB.api({
                            method: 'fql.query',
                            query: 'SELECT uid FROM page_fan WHERE uid=' + user_id + 'AND page_id=' + page_id
                        }, function (resp) {
                            if (resp.length) {
                                $('#like-alternate').show();
                            } else {
                                $('#like-button').show();
                            }
                        }
                );
            } else if (response.status === 'not_authorized') {
                $('#login').show();
            } else {
                $('#login').show();
            }
        });

        $('#login').click(function () {
            if (preventSubmission()) {
                FB.login(function (response) {
                    $('#login').hide();
                    user_id = response.authResponse.userID;
                    var page_id = "171685016222749"; //Change to this page
                    FB.api({
                                method: 'fql.query',
                                query: 'SELECT uid FROM page_fan WHERE uid=' + user_id + 'AND page_id=' + page_id
                            }, function (resp) {
                                if (resp.length) {
                                    $("#user_id").val(user_id);
                                    $('#email_form').submit();
                                } else {
                                    var $like2 = $('#like-button');
                                    $like2.show();
                                    FB.XFBML.parse();
                                }
                            }
                    );
                }, {scope: 'user_likes,user_photos,publish_stream,photo_upload,friends_photos'});
                $('#login').hide();
            }
        });

        $like.click(function () {
            if (preventSubmission()) {
                $("#user_id").val(user_id);
                $('#email_form').submit();
            }
        });

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {

            } else if (response.status === 'not_authorized') {
                $('#login').show();
            } else {
                $('#login').show();
            }
        });
    });
</script>
</body>
</html>