{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body onload='location.href="#app"'>
{% include 'header.html' %}
<div id="terms-and-conditions-popup-container">
    <div id="terms-and-conditions-popup">
        <img src="/static/images/Pinboard%20Assets/Text/terms-and-conditions.png" />
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo mollis tempus. Nulla convallis in elit at placerat. Aliquam erat volutpat. In venenatis, est id mollis ullamcorper, eros orci sagittis erat, ac consectetur ligula augue et quam. Maecenas euismod dui id orci vulputate, eu lobortis nulla pretium. Quisque tortor ligula, pharetra et ligula eu, mattis volutpat augue. Integer egestas pharetra sapien ut facilisis.</p>
            <p>Nullam congue, sem in tempor mattis, nunc magna vehicula est, nec vulputate elit felis quis purus. Etiam et lectus at tellus lacinia sollicitudin. Nam vulputate turpis non mattis ullamcorper. Pellentesque sed nisi non enim tincidunt ultrices non nec odio. Maecenas rhoncus erat nibh, a tincidunt dui lacinia congue. Cras porttitor ipsum ligula, et lobortis augue venenatis in. Nunc nec turpis vulputate urna tincidunt congue. Integer ac nisl nibh. Fusce gravida dapibus odio quis dignissim. Mauris sit amet elementum mauris. Nullam fermentum tellus quis lectus consequat, eu gravida purus eleifend. Ut tincidunt tortor nec justo vulputate consequat. Nullam ac venenatis nibh, non suscipit arcu. Aenean libero erat, ultricies ac sodales quis, vulputate sed nunc. In elementum odio et elit bibendum pellentesque.</p>
            <p>Praesent varius iaculis ligula eget laoreet. Phasellus laoreet ligula nibh, vel posuere lacus auctor sed. Curabitur pharetra fringilla tellus, ac consequat tellus placerat ac. Nulla sit amet eros sit amet nunc pulvinar suscipit. Vivamus ac faucibus erat. Nullam ornare augue pharetra ligula luctus bibendum. Integer vel lorem metus. Nulla ornare dolor luctus, pellentesque risus at, fringilla urna. Donec faucibus justo et vestibulum euismod.</p>
            <p>Suspendisse blandit, eros ac feugiat auctor, tellus dui malesuada purus, et eleifend justo erat sed nisi. Phasellus facilisis ipsum metus, id consequat erat lacinia sit amet. Maecenas fringilla dui vitae massa mattis sollicitudin. Nam non rutrum urna. Suspendisse diam nunc, dapibus eget sagittis in, porta eu lacus. Donec imperdiet dolor nec risus porttitor bibendum. Suspendisse consequat velit luctus tincidunt placerat. Suspendisse consequat, augue vel sodales pretium, orci tellus iaculis augue, id aliquet massa ligula nec diam.</p>
            <p>Pellentesque ut mauris odio. Vivamus sed libero iaculis, dignissim justo nec, blandit leo. Nam in leo hendrerit, suscipit nunc ultrices, mattis leo. Mauris quam tortor, ullamcorper mollis nunc vel, tempor convallis ante. Curabitur porttitor libero quam, sed fermentum velit accumsan non. Praesent enim sem, molestie eget mauris eget, lacinia rutrum nibh. Cras quis interdum tortor, nec adipiscing erat. Sed vulputate augue lacus, a consectetur lorem tincidunt id.</p>
        </div>
        <img id="terms-and-conditions-popup-button" src="/static/images/Pinboard%20Assets/Buttons/back.png" />
    </div>
</div>
<div class="content" id="wrap">
    <a name="app"></a>

    <div id="overlay"
         style=" position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.8)"></div>
    <div class="email" style="position: absolute; top: 100px; display: none; width: 100%;">
        <div id="enter-to-win">
            <form action="/email/" method="post" id="email_form">
                {% csrf_token %}
                <input type="hidden" value="" name="user_id" id="user_id">
                <div class="first-name">
                    <input type="text" id="first_name" placeholder="First Name" name="first_name" />
                    <div id="firstNameMsg"></div>
                </div>
                <div class="last-name">
                    <input type="text" id="last_name" placeholder="Last Name" name="last_name" />
                    <div id="lastNameMsg"></div>
                </div>
                <div class="email-input">
                    <input type="text" id="email" placeholder="Email" name="email" />
                    <div id="emailMsg"></div>
                </div>
                <br>
                <div class="terms-check" style="text-align: center; width: 95%; padding: 0 10px;">
                    <input type="checkbox" id="terms" name="terms" style="margin-right: 10px">Hey gorgeous, don’t forget
                    to agree to our <a
                        href="#">terms
                    and conditions!</a>
                    <div id="termsMsg"
                         style="color: white; background-color: pink; width: 62%; text-align: center; display: inline-block; padding: 0 4px;"></div>
                    {% if messages %}
                        {% for message in messages %}
                            <div id="errors"
                                 style="color: white; background-color: pink; width: 62%; text-align: center; display: inline-block; padding: 0 4px;">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <p><strong>In order to continue, please like us on Facebook!</strong></p>
                </div>

                <div style="text-align: center; margin-top:-3px;">
                    <img id="like-alternate" style="display: none; cursor: pointer;"
                         src="/static/images/Pinboard%20Assets/Buttons/like.png"/>
                    <img id="login" style="display: none; cursor: pointer;"
                         src="/static/images/Pinboard%20Assets/Buttons/like.png"/>
                </div>
                <div style="text-align: center; height: 27px; margin: 20px auto 0;">
                    <div id="fb-root" style="text-align: center; margin: 0 auto; height: 27px; overflow: hidden">
                        <div id="like-button" class="fb-like" data-width="100" data-height="30"
                             data-href="https://www.facebook.com/benefitcosmeticscanada"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="how" style="position: absolute; top: 100px; width: 100%;">
        <div style="margin: auto; width: 612px;">
            <img src="/static/images/Pinboard%20Assets/Text/how-to-play.png" alt="">

            <div style="text-align: center;"><img style="cursor: pointer;" src="/static/images/Pinboard%20Assets/Buttons/okay.png"
                                              alt="" class="close">
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<script type="text/javascript">
    function preventSubmission() {
        var $firstname = $('#first_name');
        var $lastname = $('#last_name');
        var $firstNameMsg = $('#firstNameMsg');
        var $lastNameMsg = $('#lastNameMsg');
        var $email = $('#email');
        var $emailMsg = $('#emailMsg');
        var $termsMsg = $('#termsMsg');
        $emailMsg.text('');
        $firstNameMsg.text('');
        $lastNameMsg.text('');
        $termsMsg.text('');
        var flag = false;
        if ($firstname.val() == '') {
            $firstNameMsg.text('Required');
            flag = true;
        }
        if ($lastname.val() == '') {
            $lastNameMsg.text('Required');
            flag = true;
        }
        if ($email.val() == '' || !validateEmail($email.val())) {
            $emailMsg.text('Please enter a valid email address');
            flag = true;
        }
        if (!$('#terms').is(":checked")) {
            $termsMsg.text('Please accept the terms and conditions to continue');
            flag = true;
        }
        if (flag == true) {
            event.preventDefault();
            return false;
        }
        return true;
    }
    function validateEmail(email) {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

</script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    $(function () {
        var $how = $('.how');
        var $email = $('.email');
        $(".close").click(function () {
            $how.hide();
            $email.show();
        });
        var user_id = '';
        var $like = $('#like-alternate');
        $('#like-button').css("display", "none");
        // init the FB JS SDK
        FB.init({
            appId: '151985691672341',                        // App ID from the app dashboard
            cookie: true,
            status: true,                                 // Check Facebook Login status
            xfbml: true                                  // Look for social plugins on the page
        });

        FB.Event.subscribe('edge.create',
                function () {
                    if (preventSubmission()) {
                        $("#user_id").val(user_id);
                        $('#email_form').submit();
                    } else {
                        $('#like-alternate').css("display", "inline");
                    }
                }
        );
        FB.Event.subscribe('auth.authResponseChange', function (response) {
            // Here we specify what we do with the response anytime this event occurs.
            if (response.status === 'connected') {
                // The response object is returned with a status field that lets the app know the current
                // login status of the person. In this case, we're handling the situation where they
                // have logged in to the app.
                $('#login').hide();
                user_id = response.authResponse.userID;
                var page_id = "171685016222749"; //Change to this page
                FB.api({
                            method: 'fql.query',
                            query: 'SELECT uid FROM page_fan WHERE uid=' + user_id + 'AND page_id=' + page_id
                        }, function (resp) {
                            if (resp.length) {
                                $('#like-alternate').css("display", "inline");
                            } else {
                                $('#like-button').css("display", "inline");
                            }
                        }
                );
            } else if (response.status === 'not_authorized') {
                $('#login').css("display", "inline");
            } else {
                $('#login').css("display", "inline");
            }
        });

        $('#login').click(function () {
            if (preventSubmission()) {
                FB.login(function (response) {
                    $('#login').css("display", "none");
                    user_id = response.authResponse.userID;
                    var page_id = "171685016222749"; //Change to this page
                    FB.api({
                                method: 'fql.query',
                                query: 'SELECT uid FROM page_fan WHERE uid=' + user_id + 'AND page_id=' + page_id
                            }, function (resp) {
                                if (resp.length) {
                                    $("#user_id").val(user_id);
                                    $('#email_form').submit();
                                } else {
                                    var $like2 = $('#like-button');
                                    $like2.css("display", "inline");
                                    FB.XFBML.parse();
                                }
                            }
                    );
                }, {scope: 'user_likes,user_photos,publish_stream,photo_upload,friends_photos'});
                $('#login').hide();
            }
        });

        $like.click(function () {
            if (preventSubmission()) {
                $("#user_id").val(user_id);
                $('#email_form').submit();
            }
        });

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {

            } else if (response.status === 'not_authorized') {
                $('#login').css("display", "inline");
            } else {
                $('#login').css("display", "inline");
            }
        });
    });
</script>
</body>
</html>