{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body>
<div id="header"></div>
<div id="main-nav">
    <ul>
        <li>What's New</li>
        <li>Top Sellers</li>
        <li>Beauty School</li>
        <li>Gifts</li>
        <li>Join Us</li>
    </ul>
</div>
<div id="upper-content">
    <h1>How to play</h1>

    <p>Get that camera clicking by tagging the gorgeous girls (or guys!) that correspond to one of the
        <em>#BENESELFIES</em> shown in the polaroids that are sitting in your lickers.</p>
    <ul>
        <li><span>1</span>Join the party on Facebook!</li>
        <li><span>2</span>Open up your locker and begin tagging your friends that fit the <em>#BENESELFIES</em></li>
        <li><span>3</span>Share your polaroids and invite your friends to enter too!</li>
    </ul>
    <p>To be on your way to enter our <em>#BENESELFIES</em> contest please sign in with Facebook and fill in your email
        address. This will only be used to contact you if you're a lucky winner. You will no receive any other emails
        from us!</p>
</div>
<div class="content" id="wrap"
     style="width: 1160px; height:1062px; background: url('{% static 'images/Locker-App-Open.png' %}'); background-size: 1160px 1062px">
    <div style="margin-top: 75px; margin-right: 53px; padding-left: 20px; padding-right: 30px; color: white; font-size: 20px;
            background:#000000; width: 47%; height: 89.7%; opacity: 0.8; float: right; vertical-align: middle">
        <img src="{% static 'images/beneselfies-logo.png' %}" alt=""
             style="display: block; margin-left: auto; margin-right: auto;">

        <div style="display: inline;">
            <div style="text-align: center;">
                <p>Thank you, gorgeous! Your entry has been received.
                    Feel free to share your #BENESELFIES with your
                    friends. The more pictures you’re tagged in, the more
                    chances you have to win a prize! </p>
                {% if user_id %}
                    <img src="{% static 'images/view.png' %}" id="link" id="view" style="margin-top: 150px">
                {% endif %}

                <p>Follow us on Twitter</p>

                <a id="twitter-follow" href="https://twitter.com/BenefitCanada" class="twitter-follow-button" data-show-count="false"
                   data-size="large" data-show-screen-name="false">Follow @BenefitCanada</a>
                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');
                </script>
            </div>
        </div>
    </div>
</div>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
    $(function () {
        $('#twitter-follow').click(function(){
           window.location = "https://twitter.com/BenefitCanada";
        });
        $('#view').click(function(){
            window.location = "http://facebook.com/profile.php?id={{ user_id }}";
        });
    });
</script>
</body>
</html>