{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body onload='location.href="#app"'>
{% include 'header.html' %}
<div class="content" id="wrap">
    <a name="app"></a>

    <div id="overlay"
         style=" position: absolute; width: 100%; height: 100%; left: 0; top: 0; background: rgba(0, 0, 0, 0.8)"></div>
    <div class="finish" style="position: absolute; top: 100px; width: 100%; text-align: center">
        <img src="/static/images/good-luck-beautiful.png" alt="">

        <div style="text-align: center; margin-top: -160px"><img src="/static/images/Pinboard%20Assets/Buttons/view.png"
                                                                 alt="" id="view">
        </div>

        <div style="text-align: center; margin-top: 10px"><img src="/static/images/beneselfies-twitter.png" alt=""
                                                               id="twitter-follow"><img
                src="/static/images/beneselfies-facebook.png" style="margin-left: 300px" alt="" id="facebook"></div>
        <div style="text-align: center; margin-top: 35px"><img src="/static/images/Pinboard%20Assets/Buttons/okay.png"
                                                               alt="" id="okay">
        </div>
    </div>
</div>
{% include 'footer.html' %}
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
    $(function () {
        $('#facebook').click(function () {
            window.location = "https://www.facebook.com/benefitcosmeticscanada";
        });
        $('#twitter-follow').click(function () {
            window.location = "https://twitter.com/BenefitCanada";
        });
        $('#okay').click(function () {
            window.location = "/";
        });
        $('#view').click(function () {
            window.location = "http://facebook.com/profile.php?id={{ user_id }}";
        });
    });
</script>
</body>
</html>