{% load staticfiles %}
<div id="header"><a href="http://beneselfies.com/"><img src="{% static 'images/Pinboard Assets/New Landing Page Assets/beneselfies-header-spread-w-logo.png' %}"/></a></div>
<div id="header-divider"></div>
<div id="main-nav">
    <ul>
        <li><a href="http://beneselfies.com/">Home</a></li>
        <li><a href="https://www.facebook.com/benefitcosmeticscanada/app_151503908244383">What's New</a></li>
        <li><a href="http://instagram.com/benefitcanada/#">Instagram</a></li>
        <li><a href="https://twitter.com/BenefitCanada">Twitter</a></li>
    </ul>
</div>