{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/static/js/main.js"></script>
    <!--[if lt IE 9]>
        <script>
            $('#ie-warning').show();
        </script>
    <![endif]-->
</head>
<body>
{% include 'header.html' %}
<div id="ie-warning">
    <div id="ie-warning-popup">
        <img src="/static/images/Pinboard%20Assets/Text/terms-and-conditions.png" />
        <img id="ie-warning-popup-button" src="/static/images/Pinboard%20Assets/Buttons/back.png" />
    </div>
</div>
<div id="upper-content-2">
    <img src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/beneselfies-logo.png' %}" alt="">
    <br>
    <img src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/share-your-shameless-selfies-for-a-chance-to-win.png' %}"
         alt="">
    <br>
    <img src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/win-over-1500-worth-of-prizes.png' %}"
         alt="" style="margin-top: 10px">
    <br>
    <img id="start" src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/play-now.png' %}"
         alt="" style="margin-top: 20px; margin-bottom: 20px">
    <br>

    <div class="wraptocenter">
        <img class="group_plus"
             src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/like-us.png' %}"
             alt="">
        <img class="group_plus"
             src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/plus-icon.png' %}"
             alt="">
        <img class="group_plus"
             src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/choose-your-friends.png' %}"
             alt="">
        <img class="group_plus"
             src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/equals-icon.png' %}"
             alt="">
        <img class="group_plus"
             src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/win-big.png' %}"
             alt="">
    </div>
    <br>

    <div class="wraptocenter" style="height: 70px">
        <img class="group_plus" style="float: left"
             src="{% static 'images/Pinboard Assets/west-49-benefit-samsung-logo-trio.png' %}"
             alt="">
    </div>
    <br>
    <img class="group_plus"
        src="{% static 'images/Pinboard Assets/New Landing Page Assets/Image Grouping/share-the-love.png' %}"
        alt="">
    <br />
    <div><a href="https://twitter.com/BenefitCanada"><img src="{% static 'images/Pinboard Assets/New Landing Page Assets/Single Images/beneselfies-footer-twitter.png' %}"/></a><a href="https://www.facebook.com/benefitcosmeticscanada"><img
            style="margin-left: 60px" src="{% static 'images/Pinboard Assets/New Landing Page Assets/Single Images/beneselfies-footer-facebook.png' %}"/></a></div>
    <p style="font-size: 8px">NO PURCHASE NECESSARY. Internet access and valid email account required. Contest starts on
        September 23, 2013 at 9:00:00 AM ET and ends on October 13, 2013 at 11:59:59 PM ET. Open to legal residents of
        Canada who have reached age of majority as of the date of entry. Three (3) prizes to be won as follows: two (2)
        weekly prizes (one (1) per week for first two (2) weeks) consisting of various Benefit Cosmetics products and
        one (1) $50Cdn West 49 gift card (ARV: $400 Cdn, each); and one (1) grand prize consisting of one (1) of each of
        the following: Samsung Galaxy 8.0 Tablet, Benefit Cosmetics products, $300 Cdn West 49 gift card, Roxy backpack
        from West 49 (ARV: $1,350 Cdn). Odds of being selected to win a weekly prize depend on the total number of
        eligible Entries received during the applicable week. Odds of being selected to win the grand prize depend on
        the total number of eligible Entries received during the Contest Period. Mathematical skill-testing question
        required. Conditions & restrictions apply. For details and full contest rules, including how to enter, visit
        https://www.facebook.com/benefitcosmeticscanada.</p>
</div>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">
    $('#start').click(function () {
        window.location = "/email/";
    });
</script>
</body>
</html>