{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>TOM</title>
    <meta name="description"
          content="TOM App">
    <link rel="stylesheet" href="/static/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!--[if lt IE 10]>
        <script>
            $(document).ready(function () {
                $('#ie-warning').show();
            });
        </script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,700,200' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <div style="float: left"><img src="{% static 'iPad pngs/TOMFW-logo-white.png' %}" alt="tom"/></div>
    <div class="nav-bar">
        <ul style="list-style: none; display: inline-block">
            <li><a href="#">ABOUT</a>
                <ul class="sub-menu" style="display: none; opacity: 0;">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a
                            href="http://www.tomfw.com/tom-magazine/">TOM* Magazine</a></li>
                </ul>
            </li>
            <li>
                <a href="#">EVENT</a>
                <ul class="sub-menu" style="display: none; opacity: 0;">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15 current_page_item menu-item-50">
                        <a href="http://www.tomfw.com/designers/">Designers</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49"><a
                            href="http://www.tomfw.com/partners/">Partners</a></li>
                </ul>
            </li>

            <li><a href="#">EMDA</a></li>
            <li><a href="#">I AM TOM*</a></li>
            <li><a href="#">CONTACT</a>
                <ul class="sub-menu" style="display: none; opacity: 0;">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a
                            href="http://www.tomfw.com/get-to-tom/">Get to TOM*</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<div class="full-back">
    <div class="main-app main-app-background">
        <div class="veritcal-center horizontal-center">
            <img class="after-trans" src="{% static 'iPad pngs/i-am-tom-white-small.png' %}"/>

            <div class="transparent-box after-trans" style="padding: 10px 20px; width: 60%; margin: 20px auto; font-size: 0.8em;">
                And you can be too. Participate in the I AM TOM*
                Project by contributing you and your style to our
                TOM* Board and get a chance to have your
                version of TOM* appear on Toronto Men’s Fashion
                Week between August 11 - 14th. In order to get
                started, please select one of the social media
                icons below:
                <div style="margin-top: 20px" class="logins">
                    <a href="{% url 'socialauth_begin' 'twitter' %}"><img
                            src="{% static 'iPad pngs/Twitter-botton.png' %}"
                            alt=""/></a>
                    <a href="{% url 'socialauth_begin' 'instagram' %}"><img
                            src="{% static 'iPad pngs/instagram-botton.png' %}" alt=""/></a>
                    <a href="{% url 'socialauth_begin' 'facebook' %}"><img
                            src="{% static 'iPad pngs/facebook-botton.png' %}"
                            alt=""/></a>
                </div>
            </div>
            <img src="{% static 'iPad pngs/TOMFW-logo-white.png' %}"/>
        </div>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('.after-trans').fadeIn(3000);
        }, 1000);

        $('.nav-bar').find('> ul li').hover(function () {
            $(this).find('ul').css({'display': 'block', 'opacity': '1'});
            $(this).find('> ul > li > a:before').css('height', '6px');
        }, function () {
            $(this).find('ul').css({'display': 'none', 'opacity': '0'});
            $(this).find('> ul > li > a:before').css('height', '0');
        })
    });
</script>
</html>