<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
<div id="header"></div>
<div id="main-nav">
    <ul>
        <li>What's New</li>
        <li>Top Sellers</li>
        <li>Beauty School</li>
        <li>Gifts</li>
        <li>Join Us</li>
    </ul>
</div>
<div id="upper-content">
    <h1>How to play</h1>

    <p>Get that camera clicking by tagging the gorgeous girls (or guys!) that correspond to one of the
        <em>#BENESELFIES</em> shown in the polaroids that are sitting in your lickers.</p>
    <ul>
        <li><span>1</span>Join the party on Facebook!</li>
        <li><span>2</span>Open up your locker and begin tagging your friends that fit the <em>#BENESELFIES</em></li>
        <li><span>3</span>Share your polaroids and invite your friends to enter too!</li>
    </ul>
    <p>To be on your way to enter our <em>#BENESELFIES</em> contest please sign in with Facebook and fill in your email
        address. This will only be used to contact you if you're a lucky winner. You will no receive any other emails
        from us!</p>
</div>
<div class="content" id="wrap"
     style="width: 1000px; height:1333px; background: url('/static/images/Beneselfies-Locker-Back.png') no-repeat">
    <div style="padding-top: 100px; padding-left: 150px; padding-right: 115px; color: white; font-size: 20px; font-family: arial;">
        <img src="/static/images/Beneselfies-Logo.png" alt=""
             style="display: block; margin-left: auto; margin-right: auto;">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam lorem ligula, rhoncus eget ante a, vulputate pellentesque magna. Fusce pellentesque tempus velit vel
            pharetra.
            Duis imperdiet sollicitudin ante. Fusce quis consectetur lorem.</p>

        <p>1. Like our facebook/twitter page.</p>

        <p>2. Pick 9 fabulous friends to match the personalities.</p>

        <p>3. Invite your friends to make their own!.</p>

        <div style="text-align: center; margin-top:200px;">
            <p>Like to get started</p>

            <div id="fb-root" style="text-align: center">
                <div id="like-alternate"
                     style="background: url('/static/images/Like-Black.png'); width: 102px; height: 52px; margin-left: auto;margin-right: auto; display: none;"></div>
                <div id="login"
                     style="background: url('/static/images/Like-Black.png'); width: 102px; height: 52px; margin-left: auto;margin-right: auto; display: none;"></div>
                <div id="like-button" class="fb-like" data-width="450"
                     data-href="https://www.facebook.com/benefitcosmeticscanada"></div>
            </div>
        </div>
    </div>
</div>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    $(function () {
        var user_id = '';
        var $like = $('#like-alternate');
        $('#like-button').hide();

        // init the FB JS SDK
        FB.init({
            appId: '151985691672341',                        // App ID from the app dashboard
            cookie: true,
            status: true,                                 // Check Facebook Login status
            xfbml: true                                  // Look for social plugins on the page
        });

        FB.Event.subscribe('edge.create',
                function(){
                    window.location = "/upload/" + user_id;
                }
        );
        FB.Event.subscribe('auth.authResponseChange', function (response) {
            // Here we specify what we do with the response anytime this event occurs.
            if (response.status === 'connected') {
                // The response object is returned with a status field that lets the app know the current
                // login status of the person. In this case, we're handling the situation where they
                // have logged in to the app.
                $('#login').hide();
                user_id = response.authResponse.userID;
                var page_id = "171685016222749"; //Change to this page
                FB.api({
                            method: 'fql.query',
                            query: 'SELECT uid FROM page_fan WHERE uid=' + user_id + 'AND page_id=' + page_id
                        }, function (resp) {
                            if (resp.length) {
                                $('#like-alternate').show();
                            } else {
                                $('#like-button').show();
                            }
                        }
                );
            } else if (response.status === 'not_authorized') {
                $('#login').show();
            } else {
                $('#login').show();
            }
        });

        $('#login').click(function () {
            FB.login(function (response) {
                // handle the response
            }, {scope: 'user_likes,user_photos,publish_stream,photo_upload,friends_photos'});
            $('#login').hide();
            $('#like-button').show();
        });

        $like.click(function () {
            window.location = "/upload/" + user_id;
        });

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {

            } else {
                $('#login').show();
            }
        });
    });
</script>
</body>
</html>