<p lang="en-GB" align="center">
    <strong>I AM TOM* Project</strong>
</p>
<p lang="en-GB" align="center">
    OFFICIAL PARTICIPATION RULES
</p>
<p lang="en-GB" align="justify">
    <a name="_GoBack"></a>
    <strong>
        NO PURCHASE NECESSARY TO TAKE PART IN THE I AM TOM* PROJECT. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF YOUR
        ENTRY BEING FEATURED DURING TOM*.
    </strong>
    The I AM TOM* Project (the “<strong>Project</strong>”) is sponsored by Toronto Men’s Fashion Week (the “<strong>Sponsor</strong>”).
    For the purposes of the
    Project, the “<strong>Sponsorship Group</strong>” is composed of the Sponsor, together with their respective
    affiliates and related companies, including
    without limitation their parent, sister and subsidiary companies, advertising and promotion agencies, suppliers of
    material and services related to the
    Project, and any other corporation, partnership, sole proprietorship or other legal entity directly involved in the
    Project and their respective officers,
    directors, employees, agents, and other representatives.
</p>
<p lang="en-GB" align="justify">
    <strong>1. Project Period</strong>
</p>
<p lang="en-GB" align="justify">
    The Project begins on July 18<sup>th</sup> at 9 AM Eastern Standard Time (“<strong>EST</strong>”) and ends on August
    15<sup>th</sup> at 5 PM EST (the “ <strong>Project Period</strong>”).
</p>
<p lang="en-GB" align="justify">
    <strong>2. Participation</strong>
</p>
<p lang="en-GB" align="justify">
    NO PURCHASE NECESSARY. The Project is open to everyone. Internet access and a valid social media account (Facebook,
    Twitter, and Instagram) required. You
    can take part in the Project by visiting the I AM TOM* Project webpage at <a href="http://iamtom.ca/">http://iamtom.ca/</a>
    (the “ <strong>Project Webpage</strong>”). To participate in the Project, go to the Project Webpage and follow these
    steps:
</p>
<p lang="en-GB" align="justify">
    Step 1: On the landing page, select the social media platform you would like to use.
</p>
<p lang="en-GB" align="justify">
    Step 2: Sign in to your account if necessary.
</p>
<p lang="en-GB" align="justify">
    Step 3: Authorize Toronto Men’s Fashion to use your account.
</p>
<p lang="en-GB" align="justify">
    Step 4: Upload or take a photo.
</p>
<p lang="en-GB" align="justify">
    Step 5: Customize your photo.
</p>
<p lang="en-GB" align="justify">
    Step 6: Share your photo using any of the available social media platforms.
</p>
<p lang="en-GB" align="justify">
    You can submit as many photos (the “<strong>Submission</strong>”) as you like. Photo submission must comply with
    Facebook, Instagram, and Twitter terms and
    conditions to be eligible to be a part of the Project. Any Submissions that are made which violate Facebook,
    Instagram, and/or Twitter terms and conditions
    or community standards will be discarded in Sponsor’s sole discretion. All Submissions must adhere to the Submission
    Guidelines, as defined below.
</p>
<p lang="en-GB" align="justify">
    <strong>3. Photo Submission Guidelines (the “Submission Guidelines”)</strong>
</p>
<p lang="en-GB" align="justify">
    By participating in this Project, each entrant represents and warrants that the Photos tagged by the entrant (the
    “<strong>Photos</strong>”) shall comply
    with the following.
</p>
<ol>
    <li>
        <p lang="en-GB" align="justify">
            Does not include the brand names, trade names, or trade-marks of any third parties;
        </p>
    </li>
    <li>
        <p lang="en-GB" align="justify">
            Does not include any reference to or likeness of any celebrity or any identifiable third parties other than
            the entrant and his/her friends and/or
            followers;
        </p>
    </li>
    <li>
        <p lang="en-GB" align="justify">
            Is suitable for family audiences and for display and publication on the Project Webpage, in the sole
            determination of the Sponsor. Without
            limitation, photos shall <u>not</u> contain any content that is or contains: the promotion of unlawful
            behaviour, profanity, nudity, explicit
            sexuality, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, or is
            hatefully, racially, ethnically or
            otherwise offensive or objectionable;
        </p>
    </li>
    <li>
        <p lang="en-GB" align="justify">
            Does not depict illegal activities or promotion thereof;
        </p>
    </li>
    <li>
        <p lang="en-GB" align="justify">
            Is consistent with the Sponsor’s corporate image; and
        </p>
    </li>
    <li>
        <p lang="en-GB" align="justify">
            Complies with these Official Project Rules.
        </p>
    </li>
</ol>
<p lang="en-GB" align="justify">
    The Sponsor reserves the right to deem ineligible and exclude from the Project any Photo that the Sponsor, in its
    sole and absolute discretion, determines
    is not befitting or compliant with the Submission Guidelines and/or these Official Project Rules.
</p>
<p lang="en-GB" align="justify">
    By participating in this Project, and entering, tagging and sharing a Photo, you acknowledge and agree that the
    Photo will be used on the Project Webpage
    for public viewing, including, without limitation, by showing up in your and your Facebook friends’ timelines,
    Instagram photo streams, and Twitter feeds.
    <u>
        You hereby irrevocably, perpetually, and without limitation, grant the Sponsor the unlimited right and
        permission to use, post, publish, adapt, edit
        and/or modify such Photo (and name in connection with your Photo) and waive all your rights, including moral
        rights, in and to the Photo, without
        notice or compensation.
    </u>
</p>
<p lang="en-GB">
    <strong>4. LIMITATIONS OF LIABILITY AND RELEASES</strong>
</p>
<p lang="en-GB" align="justify">
    BY PARTICIPATING IN THIS PROJECT, ENTRANTS AGREE THAT SPONSORSHIP GROUP HAS NO LIABILITY WHATSOEVER FOR, AND SHALL
    BE HELD HARMLESS AGAINST, ANY LIABILITY
    FOR ANY INJURIES, CLAIMS, LOSSES, DAMAGES, COSTS OR EXPENSES OF ANY KIND (INCLUDING WITHOUT LIMITATION DIRECT,
    INDIRECT, INCIDENTAL, CONSEQUENTIAL OR
    PUNITIVE DAMAGES) TO PERSONS OR PROPERTY RESULTING FROM (A) ENTRY OR PARTICIPATION IN THIS PROJECT, (B) ANY CLAIMS
    BASED ON PERSONALITY OR PRIVACY RIGHTS,
    DEFAMATION OR PRIZE DELIVERY, OR (C) THE ACCEPTANCE, POSSESSION, USE OR MISUSE OF ANY PRIZE, INCLUDING THE
    MERCHANDISE FOR WHICH IT IS REDEEMED. Some
    jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, therefore such
    exclusions may not apply to you.
</p>
<p lang="en-GB" align="justify">
    Without limiting the foregoing, the Sponsorship Group and any of Sponsor's other agencies, suppliers or contractors,
    shall not be responsible for: (a) any
    incomplete or inaccurate information that is caused by entrants, or by any of the equipment or programming
    associated with or utilized in the Project, or
    by any technical or human error which may occur in the processing of submissions in the Project; (b) lost,
    interrupted, or unavailable network, server,
    service provider, on-line systems, telephone networks or telephone lines, or any other connections; (c) the theft,
    destruction, loss or unauthorized access
    to, or alteration of, Submissions; (d) any problems with, or malfunctions or failures of, telephone networks or
    lines, computers or computer on-line
    systems, servers or providers, computer equipment, software, viruses or bugs; (e) garbled transmissions or
    miscommunications; (f) damage to a user's
    computer equipment (software or hardware) occasioned by participation or downloading of materials related to this
    Project; (g) printing, distribution,
    programming or production errors, and any other errors or malfunctions of any kind, whether human, mechanical,
    electronic or otherwise; or (h) technical,
    pictorial, typographical or editorial errors or omissions contained herein.
</p>
<p lang="en-GB" align="justify">
    This Project is in no way sponsored, endorsed or administered by, or associated with Facebook. Facebook is
    completely released of all liability by each
    participant in this Project. You understand that you are providing your information to the Sponsor and not to
    Facebook. Any questions, comments or
    complaints regarding the Project should be directed to the Sponsor and not Facebook.
</p>