<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body>
<div class="loader"></div>
<div id="header"></div>
<div id="main-nav">
    <ul>
        <li>What's New</li>
        <li>Top Sellers</li>
        <li>Beauty School</li>
        <li>Gifts</li>
        <li>Join Us</li>
    </ul>
</div>
<div id="upper-content">
    <h1>How to play</h1>

    <p>Get that camera clicking by tagging the gorgeous girls (or guys!) that correspond to one of the
        <em>#BENESELFIES</em> shown in the polaroids that are sitting in your lickers.</p>
    <ul>
        <li><span>1</span>Join the party on Facebook!</li>
        <li><span>2</span>Open up your locker and begin tagging your friends that fit the <em>#BENESELFIES</em></li>
        <li><span>3</span>Share your polaroids and invite your friends to enter too!</li>
    </ul>
    <p>To be on your way to enter our <em>#BENESELFIES</em> contest please sign in with Facebook and fill in your email
        address. This will only be used to contact you if you're a lucky winner. You will no receive any other emails
        from us!</p>
</div>
<div class="content wrap" id="confirm_page"
     style="width: 1000px; height:1333px; display: none">
    <div>
        <img src="" id="confirm_image"/>

        <div id="back"
             style="color: white; width: 102px; position: absolute; height: 52px; margin-top: -300px;  float: left; margin-left: 150px; z-index: 1000; border-radius: 15px;">
            Back
        </div>

        <div id="confirm"
             style="background: url('/static/images/confirm.png'); width: 102px; position: absolute; height: 52px; margin-top: -300px;  float: right; margin-left: 750px; z-index: 1000; border-radius: 15px;"></div>
    </div>
</div>
<div class="content" id="wrap"
     style="width: 1000px; height:1333px; background: url('/static/images/Beneselfies-Locker-Back.png') no-repeat">
    <div style="padding-top: 100px; padding-left: 130px; padding-right: 115px; color: white; font-size: 20px; font-family: arial;">
        <div style="text-align: center">
            <img src="/static/images/Beneselfies-Logo.png"
                 style="width: 240px; height:48px;"/>
        </div>
        <div class="polaroid" id="shopaholic-div">
            <div id="shopaholic" style="display: inline"></div>
        </div>

        <div class="polaroid" id="independent-div">
            <div id="independent" style="display: inline"></div>
        </div>

        <div class="polaroid" id="sporty-div">
            <div id="sporty" style="display: inline"></div>
        </div>


        <div class="polaroid" id="badgal-div">
            <div id="badgal" style="display: inline"></div>
        </div>

        <div class="polaroid" id="flirt-div">
            <div id="flirt" style="display: inline"></div>
        </div>


        <div class="polaroid" id="gorgeous-div">
            <div id="gorgeous" style="display: inline"></div>
        </div>


        <div class="polaroid" id="joker-div">
            <div id="joker" style="display: inline"></div>
        </div>

        <div class="polaroid" id="sexy-div">
            <div id="sexy" style="display: inline"></div>
        </div>

        <div id="fb-root">
        </div>
        <div id="next"
             style="background: url('/static/images/Next-Black.png'); width: 102px; height: 52px; margin-top: 850px; border-radius: 15px; float: right"></div>
    </div>
</div>
<div id="CSPhotoSelector">
    <div class="CSPhotoSelector_dialog">
        <a href="#" id="CSPhotoSelector_buttonClose">x</a>

        <div class="CSPhotoSelector_form">
            <div class="CSPhotoSelector_header">
                <p>Choose from Photos</p>
            </div>
            <div class="ui-widget">
                <label for="filter" style="color: #ffffff">Filter by Tags: </label>
                <input type="text" class="filter">
            </div>
            <div class="CSPhotoSelector_content CSAlbumSelector_wrapper">
                <p>Browse your albums until you find a picture you want to use</p>

                <div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
                    <div class="CSPhotoSelector_selectedCountContainer">Select an album</div>
                </div>
                <div class="CSPhotoSelector_photosContainer CSAlbum_container"></div>
            </div>

            <div class="CSPhotoSelector_content CSPhotoSelector_wrapper">
                <p>Select a new photo</p>

                <div class="ui-widget">
                    <label for="filter" style="color: black">Filter by Tags: </label>
                    <input type="text" class="filter">

                    <div id="tags" style="float: right">Tags: <span id="tag_values"></span></div>
                </div>
                <div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
                    <div class="CSPhotoSelector_selectedCountContainer"><span
                            class="CSPhotoSelector_selectedPhotoCount">0</span> / <span
                            class="CSPhotoSelector_selectedPhotoCountMax">0</span> photos selected
                    </div>
                    <a href="#" id="CSPhotoSelector_backToAlbums">Back to albums</a>
                </div>
                <div class="CSPhotoSelector_photosContainer CSPhoto_container"></div>
            </div>

            <div id="CSPhotoSelector_loader"></div>


            <div class="CSPhotoSelector_footer CSPhotoSelector_clearfix">
                <a href="#" id="CSPhotoSelector_pagePrev" class="CSPhotoSelector_disabled">Previous</a>
                <a href="#" id="CSPhotoSelector_pageNext">Next</a>

                <div class="CSPhotoSelector_pageNumberContainer">
                    Page <span id="CSPhotoSelector_pageNumber">1</span> / <span
                        id="CSPhotoSelector_pageNumberTotal">1</span>
                </div>
                <a href="#" id="CSPhotoSelector_buttonOK">OK</a>
                <a href="#" id="CSPhotoSelector_buttonCancel">Cancel</a>

            </div>
            <div class="CSPhotoSelector_footer CSPhotoSelector_clearfix">
                <form action="/addimage/" method="post" enctype="multipart/form-data" id="upload-form">
                    {% csrf_token %}
                    <input type="hidden" value="" name="user_id" id="user_id">
                    <input id="image-upload" type="file" name="image">
                    <button type="submit" id="upload-image">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="footer">Twitter, Facebook <em>LIKE US TO GET STARTED!!</em></div>

<div id="dialog-confirm" title="Sure love?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>You haven't selected 8
        friend yet! Are you sure your #BENESELFIES?</p>
</div>

<div id="dialog-warn" title="Sure love?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 60px 0;"></span>You have already selected this friend. Are you sure you don't want to share the love?</p>
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/js/image-picker.min.js"></script>
<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.6.0.min.js"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<link rel="stylesheet" href="/static/css/image-picker.css"/>
<link rel="stylesheet" href="/static/css/selector.css"/>
<script src="/static/js/html2canvas.js"></script>
<script src="/static/js/selector.js"></script>
<script type="text/javascript">
var options = [];
var tags_all = {};
var tag_offsets = [
    {"x": 14, "y": 21},
    {"x": 40, "y": 21},
    {"x": 66, "y": 21},
    {"x": 14, "y": 42},
    {"x": 40, "y": 42},
    {"x": 66, "y": 42},
    {"x": 14, "y": 62},
    {"x": 40, "y": 62}
];
var current_tags = [];
var tags_final = [];
var dict_for_each_clicked = {};
$(function () {
    // init the FB JS SDK
    FB.init({
        appId: '151985691672341',                        // App ID from the app dashboard
        cookie: true,
        status: true,                                 // Check Facebook Login status
        xfbml: true                                  // Look for social plugins on the page
    });
});

function previewPost($next) {
    $next.hide();
    $('#wrap').find('.polaroid').each(function(index, element){
        if (!(element in dict_for_each_clicked)){
            console.log(element);
            // element.attr("src", "")
        }
    });
    html2canvas(document.getElementById('wrap'), {
        onrendered: function (canvas) {
            var dataURL = canvas.toDataURL();
            current_tags = [];
            $.each($('.hidden_input'), function (index, element) {
                if ($(element).val() != '') {
                    current_tags.push($(element).val().toString() + "," + tag_offsets[index].x.toString() + "," + tag_offsets[index].y.toString());
                }
            });
            $.ajax({
                type: "POST",
                url: "/upload_custom/",
                enctype: 'multipart/form-data',
                data: {'user_id': user_id, 'file': dataURL, 'tags': current_tags },
                success: function (data) {
                    var $image = $('#confirm_image');
                    $image.load(function () {
                        $('div.loader').hide();
                        $('#wrap').hide();
                        $('#confirm_page').show();
                    });
                    $image.attr("src", data["image"]);
                    tags_final = data["tags"];
                }
            });
        }
    });
    $('div.loader').show();
}


$(function () {
    var $next = $('#next');
    $next.hide();
    $('#upload-image').hide();
    $('#image-upload').change(function () {
        buttonCancel.hide();
        buttonOK.hide();
        $('#upload-image').show();
    });
    $('#back').click(function () {
        $('#confirm_page').hide();
        $('#next').show();
        $('#wrap').show();
    });

    $('#confirm').click(function () {
        var $image = $('#confirm_image');
        $('div.loader').show();
        FB.api('/me/photos?access_token=' + FB.getAuthResponse()['accessToken'].toString(), 'post', {
            url: window.location.origin + $image.attr("src"),
            tags: tags_final,
            message: "#BENESELFIES"
        }, function (response) {
            if (response.post_id) {
                $.post('/post_id/', {post_id: response.post_id}).complete(function () {
                    window.location = "/finish/"
                });
            } else {
                window.location = "/finish/";
            }
        });
    });

    $('div.loader').hide();
    $('#upload-form').ajaxForm({
        success: function (response) {
            var imageObj = new Image();
            imageObj.onload = function () {
                drawImageDraggable(this);
            };
            imageObj.src = response['url'];
            next++;
            $('#next').show();
            buttonOK.show();
            buttonCancel.show();
            selector.hideAlbumSelector();
            var $clicked = $(clicked);
            var tags = selector.$tags;
            $clicked.find(".tag").remove();
            var top = $clicked.position()["top"] + $clicked.height() / 4;
            var left = $clicked.position()["left"] + $clicked.width() / 4;
            var append = $('<div class="tag box"><div id="cross" style="float: right">x</div></div>').draggable({containment: "parent"}).resizable({containment: "parent"}).css({"position": "absolute", "top": top, "left": left});
            var tag_box = $('<input type="text" value="" style="position:absolute; bottom:0; width=100px" placeholder="Tag"/>').autocomplete({source: tags, select: function (e, ui) {
                $(this).next('input').val(ui.item.id);
            }});
            var hidden_box = $('<input class="hidden_input" type="hidden"/>');
            if (tags && tags.length == 1) {
                tag_box.val(tags[0].value);
                hidden_box.val(tags[0].id);
            }
            $(clicked).append(append);
            $(append).append(tag_box);
            $(append).append(hidden_box);
        }
    });
    $next.click(function () {
        $("#dialog-confirm").dialog("open");
    });
    var buttonOK = $('#CSPhotoSelector_buttonOK');
    var buttonCancel = $('#CSPhotoSelector_buttonCancel');

    fbphotoSelect = function (id) {
        // if no user/friend id is sent, default to current user
        if (!id) id = 'me';

        callbackAlbumSelected = function (albumId) {
            var album, name;
            album = CSPhotoSelector.getAlbumById(albumId);
            // show album photos
            selector.showPhotoSelector(null, album.id);
        };

        callbackAlbumUnselected = function (albumId) {
            $('#tag_values').text('');
            $('#tags').hide();
        };

        callbackPhotoSelected = function (photoId) {
            var photo;
            photo = CSPhotoSelector.getPhotoById(photoId);
            var $tags = "";
            try {
                var tags = photo["tags"]["data"];
                for (var i = 0; i < tags.length; i++) {
                    $tags += tags[i].name;
                    if (i != tags.length - 1) {
                        $tags += ", ";
                    }
                }
            }
            catch (e) {
                try {
                    $tags += photo.alternate_tags;
                } catch (e) {
                }
            }
            $('#tag_values').text($tags);
            $('#tags').show();
            buttonOK.show();
        };

        callbackPhotoUnselected = function (photoId) {
            buttonOK.hide();
        };

        callbackSubmit = function (photoId) {
            var photo;
            photo = CSPhotoSelector.getPhotoById(photoId);
            selector.reset();
            var $tags = [];
            try {
                var tags = photo["tags"]["data"];
                for (var i = 0; i < tags.length; i++) {
                    $tags.push({value: tags[i].name, label: tags[i].name, id: tags[i].id});
                }
            }
            catch (e) {
                try {
                    if (photo.alternate_tags)
                        $tags.push({value: photo.alternate_tags, label: photo.alternate_tags, id: photo.uid});
                    else
                        $tags = selector.$tags;
                } catch (e) {
                    $tags = selector.$tags;
                }
            }
            selectPic(photo["source"], $tags);
            $('.loader').show();
        };

        // Initialise the Photo Selector with options that will apply to all instances
        CSPhotoSelector.init({debug: true});

        // Create Photo Selector instances
        selector = CSPhotoSelector.newInstance({
            callbackAlbumSelected: callbackAlbumSelected,
            callbackAlbumUnselected: callbackAlbumUnselected,
            callbackPhotoSelected: callbackPhotoSelected,
            callbackPhotoUnselected: callbackPhotoUnselected,
            callbackSubmit: callbackSubmit,
            maxSelection: 1,
            albumsPerPage: 6,
            photosPerPage: 200,
            autoDeselection: true
        });
        $('#tags').hide();
        // reset and show album selector
        selector.reset();
        selector.showAlbumSelector(id);
    };

    $("#dialog-confirm").dialog({
        resizable: false,
        height: 250,
        autoOpen: false,
        modal: true,
        buttons: {
            "Yes": function () {
                previewPost($next);
                $(this).dialog("close");
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });

    $("#dialog-warn").dialog({
        resizable: false,
        height: 250,
        autoOpen: false,
        modal: true,
        buttons: {
            "Yes": function () {
                dict_for_each_clicked[clicked] = $(this).data("id");
                $(this).dialog("close");
            },
            "No": function () {
                fbphotoSelect(null);
                $(this).dialog("close");
            }
        }
    });
});

var next = 0;
var stageCentral = null;
var imageLayer = null;
var image_added = null;

function GetWidth(newHeight, currentWidth, currentHeight) {
    if (currentHeight == 0) return newHeight;
    var aspectRatio = currentWidth / currentHeight;
    return newHeight * aspectRatio;
}

function GetHeight(newWidth, currentWidth, currentHeight) {
    if (currentHeight == 0) return newWidth;
    var aspectRatio = currentWidth / currentHeight;
    return newWidth / aspectRatio;
}

function drawImageDraggable(imageObj) {
    var $filter = $('#filter');
    $filter.val('');
    $filter.change();
    var $polaroids = $(clicked.parentElement).find('.polaroid');
    var i = 0;
    $.each($polaroids, function (index) {
        if ($polaroids[index] == clicked)
            i = index
    });
    var stage = $(clicked).find('canvas')[0];
    var width = 180;
    var height = 200;
    if (imageObj.width / imageObj.height > 0.9) {
        width = 180;
        height = GetHeight(180, imageObj.width, imageObj.height)
    } else {
        height = 200;
        width = GetWidth(200, imageObj.width, imageObj.height)
    }
    image_added = new Kinetic.Image({
        image: imageObj,
        x: stage.width / 2 - width / 2,
        y: stage.height / 2 - height / 2,
        width: width,
        height: height,
        draggable: true
    });

    // add cursor styling
    image_added.on('mouseover', function () {
        document.body.style.cursor = 'pointer';
    });
    image_added.on('mouseout', function () {
        document.body.style.cursor = 'default';
    });
    if (layers[i].children.length > 1) {
        layers[i].children[0].remove();
    }
    layers[i].add(image_added);
    image_added.moveDown();
    layers[i].draw();
    $('.loader').hide();
}

function drawImage(imageObj, container, i) {
    var stage = new Kinetic.Stage({
        container: container,
        width: 240,
        height: 264
    });
    var layer = new Kinetic.Layer();

    var img = new Kinetic.Image({
        image: imageObj,
        x: stage.getWidth() / 2 - 240 / 2,
        y: stage.getHeight() / 2 - 264 / 2,
        width: 240,
        height: 264
    });

    layer.add(img);
    stage.add(layer);
    layers[i] = layer;

    // Give the inner div's and canvas' the proper width and height values.
    $('#wrap').find('.polaroid div').css({
        height: "100%",
        width: "100%"
    });
    $('#wrap').find('.polaroid canvas').css({
        height: "100%",
        width: "100%"
    });
}

function selectPic(image_url, tags) {
    bringForward(image_url);
    var $clicked = $(clicked);
    $clicked.find(".tag").remove();
    var top = $clicked.position()["top"] + $clicked.height() / 4;
    var left = $clicked.position()["left"] + $clicked.width() / 4;
    var append = $('<div class="tag box"><div id="cross" style="float: right">x</div></div>').draggable({containment: "parent"}).resizable({containment: "parent"}).css({"position": "absolute", "top": top, "left": left});
    var tag_box = $('<input type="text" value="" style="position:absolute; bottom:0; width=100px" placeholder="Tag"/>').autocomplete({source: tags, select: function (e, ui) {
        $(this).next('input').val(ui.item.id);
        if (clicked in dict_for_each_clicked && dict_for_each_clicked[clicked] == ui.item.id) {
            $("#dialog-warn").data("id",ui.item.id).dialog("open")
        } else {
            dict_for_each_clicked[clicked] = ui.item.id;
        }
    }});
    var hidden_box = $('<input class="hidden_input" type="hidden"/>');
    if (tags && tags.length == 1) {
        tag_box.val(tags[0].value);
        hidden_box.val(tags[0].id);
        if (clicked in dict_for_each_clicked && dict_for_each_clicked[clicked] == tags[0].id) {
            $("#dialog-warn").data("id",tags[0].id).dialog("open")
        } else {
            dict_for_each_clicked[clicked] = tags[0].id;
        }
    }
    $(clicked).append(append);
    $(append).append(tag_box);
    $(append).append(hidden_box);
}

var photo_urls = [];
var accessToken = null;
var user_id = null;

var album_list = {};

var current_open = null;
function bringForward(url) {
    var imageObj = new Image();
    imageObj.onload = function () {
        drawImageDraggable(this);
    };
    $.ajax({
        type: "POST",
        url: "/post_pic/",
        async: false,
        data: {
            image: url,
            user_id: user_id
        },
        success: function (data) {
            imageObj.src = data["image"];
        }
    });
    next++;
}
</script>
</body>
</html>