{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>TOM</title>
    <meta name="description"
          content="TOM App">
    <link rel="stylesheet" href="/static/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Englebert|Stalemate' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!--[if lt IE 10]>
        <script>
            $(document).ready(function () {
                $('#ie-warning').show();
            });
        </script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,900,700,200' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <div style="float: left"><img src="{% static 'iPad pngs/TOMFW-logo-white.png' %}" alt="tom"/></div>
    <div class="nav-bar">
        <a href="#">ABOUT</a>
        <a href="#">EVENT</a>>
        <a href="#">EMDA</a>
        <a href="#"><strong>I AM TOM*</strong></a>
        <a href="#">CONTACT</a>
        </ul>
    </div>
</header>
<div class="full-back">
    <div class="main-app main-app-background">
        <div class="veritcal-center horizontal-center" id="inner-wrap">
            <img src="{% static 'iPad pngs/i-am-tom-white-small.png' %}"/>

            <div class="transparent-box" style="padding: 10px 20px; width: 40%; margin: 20px auto">
                <button id="media-library">MEDIA LIBRARY</button>
                <button id="upload-photo-button">UPLOAD PHOTO</button>
                <input type="file" id="upload-file" style="display: none" accept="image/*">
                {% if not request.is_mobile %}
                    <button id="take-photo-button">TAKE A PHOTO</button>
                {% endif %}
            </div>
            <img src="{% static 'iPad pngs/TOMFW-logo-white.png' %}"/>
        </div>
        <div style="display: none; padding: 20px; background: #fff; padding-top: 50px;" id="instagram-lib">
            <div style="position: fixed;">
                <button id="instagram-selected" style="width: auto;">Select</button>
                <button id="back-select" style="width: auto;">Back</button>
            </div>
            <div id="images" style="margin-top: 100px">
                <select id="instafeed">

                </select>
            </div>
        </div>
        <div style="display: none; background: #fff; width: 100%; height: 100%; padding-top: 50px;" id="take-photo-div">
            <video id="video" width="640" height="480" autoplay></video>
            <button id="snap" style="display: none">Snap Photo</button>
        </div>
        <div class="after-inst" style="display: none; height: 100%; padding-top: 50px;">
            <div style="width: 25%; height: 100%; background: #fff; float: left; position: relative">
                <div class="veritcal-center horizontal-center">
                <span id="current-instruction" style="padding: 0 10px">CLICK AND DRAG TO
                CROP YOUR PHOTO.</span> <br>
                </div>
                <img src="{% static 'iPad pngs/TOMFW-logo-grey.png' %}" alt="Toronto Men's Fashion Week"
                     style="position: absolute; bottom: 20px; left: 20px"/>
            </div>
            <div style="width: 75%;  height: 100%; background: #000; display: inline-block" id="image-main">
                <div id="main-image" style="width: 100%;  height: 100%;"></div>
                <div style="float: right; overflow: hidden; top: 0; width: 100%; height: 100%; z-index: 100; margin-top: -100%; padding-top: 35%">
                    <img src="{% static 'iPad pngs/Arrows.png' %}" id="arrow" alt=""
                         style="position: relative; left: 220px; margin-bottom: 50px"/>
                    <img src="{% static 'iPad pngs/i-am-tom-white-large.png' %}" id="imtom" alt=""
                         style="position: relative; left: 80px;"/>

                    <div style="display: inline-block; width: 100%; position: relative; margin-top: 20px; padding: 0 10px">
                        <button style="float: left; color: #fff; background: rgba(255, 255, 255, 0.33)"
                                id="back-to-select">
                            BACK
                        </button>
                        <button style="float: right; color: #fff; background: rgba(255, 255, 255, 0.33)" id="finish">
                            DONE
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="saved-image" style="display: none; height: 100%; padding-top: 50px;">
            <div style="width: 25%; height: 100%; background: #fff; float: left; position: relative">
                <div class="veritcal-center horizontal-center">
                    <span id="current-instruction" style="padding: 0 10px;  margin-bottom: 20px">SHARE YOUR IMAGE</span>
                    <br>
                    <img src="{% static 'iPad pngs/facebook-botton.png' %}" style="margin-right: 30px;"
                         id="facebook-share"/>
                    <br>
                    {% if instagram_number %}
                        <img src="{% static 'iPad pngs/instagram-botton.png' %}" id="instagram-share"/><br>
                    {% endif %}
                    <br style=" margin-bottom: 20px">
                    <a href="" data-pin-do="buttonPin" id="pinterest-share"
                       data-pin-config="above"><img src="{% static 'iPad pngs/pinterest-botton.png' %}"
                                                    style="margin-right: 30px"/>
                        <br>
                        <a href="" id="twitter-share"><img src="{% static 'iPad pngs/Twitter-botton.png' %}"/></a>
                    </a>
                </div>
                <img src="{% static 'iPad pngs/TOMFW-logo-grey.png' %}" alt="Toronto Men's Fashion Week"
                     style="position: absolute; bottom: 20px; left: 20px"/>
            </div>
            <div style="width: 75%;  height: 100%; background: #000; display: inline-block">
                <div id="saved-image" style="width: 100%;  height: 100%;"></div>
                <div style="float: right; overflow: hidden; top: 0; width: 100%; height: 100%; z-index: 100; margin-top: -100%; padding-top: 35%">
                    <p style="text-align: center; color: #FFF; font-size: 70px; position: relative" id="saved-text">
                        SAVED!</p>
                    <img src="{% static 'iPad pngs/i-am-tom-white-large.png' %}" alt=""
                         style="position: relative; left: 80px; visibility: hidden"/>

                    <div style="display: inline-block; width: 100%; position: relative; margin-top: 20px; padding: 0 10px">
                        <button style="float: right; color: #fff;  background: rgba(255, 255, 255, 0.33)" id="done">DONE
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="done-div" style="display: none; padding-top: 50px;">
            <img src="{% static 'iPad pngs/i-am-tom-white-small.png' %}"/>

            <div class="transparent-box" style="padding: 10px 20px; width: 40%; margin: 20px auto">
                <h1 style="color: #fff; font-size: 2em">DONE!</h1>
                <hr>
                <p>Keep an eye out for your TOM* to
                    be featured in the wall of TOM* by
                    visiting our gallery or on site at
                    Toronto’s first ever Men’s Fashion
                    Week.</p>
                <a href="/">
                    <button>ATTEND TOM*FW</button>
                </a>
            </div>
            <img src="{% static 'iPad pngs/TOMFW-logo-white.png' %}"/>
        </div>
        <div id="CSPhotoSelector" style="display: none; width: 100%; height: 100%; padding: 100px 0 0;position: static">
            <div class="CSPhotoSelector_dialog">
                <a href="#" id="CSPhotoSelector_buttonClose">x</a>

                <div class="CSPhotoSelector_form">
                    <div class="CSPhotoSelector_header">
                        <p>Choose from Photos</p>
                    </div>
                    <div class="CSPhotoSelector_content CSAlbumSelector_wrapper">
                        <p>Browse your albums until you find a picture you want to use</p>

                        <div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
                            <div class="CSPhotoSelector_selectedCountContainer">Select an album</div>
                        </div>
                        <div class="CSPhotoSelector_photosContainer CSAlbum_container"></div>
                    </div>

                    <div class="CSPhotoSelector_content CSPhotoSelector_wrapper" style="overflow: visible">
                        <p>Select a new photo</p>

                        <div class="CSPhotoSelector_searchContainer CSPhotoSelector_clearfix">
                            <div class="CSPhotoSelector_selectedCountContainer"><span
                                    class="CSPhotoSelector_selectedPhotoCount">0</span> / <span
                                    class="CSPhotoSelector_selectedPhotoCountMax">0</span> photos selected
                            </div>
                            <a href="#" id="CSPhotoSelector_backToAlbums">Back to albums</a>
                        </div>
                        <div class="CSPhotoSelector_photosContainer CSPhoto_container"
                             style="overflow-y: scroll; height: 300px;"></div>
                    </div>

                    <div id="CSPhotoSelector_loader"></div>


                    <div class="CSPhotoSelector_footer CSPhotoSelector_clearfix">
                        <a href="#" id="CSPhotoSelector_pagePrev" class="CSPhotoSelector_disabled">Previous</a>
                        <a href="#" id="CSPhotoSelector_pageNext">Next</a>

                        <div class="CSPhotoSelector_pageNumberContainer">
                            Page <span id="CSPhotoSelector_pageNumber">1</span> / <span
                                id="CSPhotoSelector_pageNumberTotal">1</span>
                        </div>
                        <a href="#" id="CSPhotoSelector_buttonOK">OK</a>
                        <a href="#" id="CSPhotoSelector_buttonCancel">Cancel</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<div id="fb-root">
</div>

<div id="final_upload" style="display: none">

</div>
</body>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/js/image-picker.min.js"></script>
<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.2.min.js"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<link rel="stylesheet" href="/static/css/image-picker.css"/>
<link rel="stylesheet" href="/static/css/selector.css"/>
<script src="/static/js/chosen.jquery.min.js"></script>
<script src="/static/js/html2canvas.js"></script>
<script src="/static/js/jquery.plugin.html2canvas.js"></script>
<script src="/static/js/selector.js"></script>
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>
<script src="{% static 'js/instafeed.js' %}"></script>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=151985691672341";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

$(function () {
    FB.init({
        appId: '151985691672341',                        // App ID from the app dashboard
        cookie: true,
        status: true,                                 // Check Facebook Login status
        xfbml: true                                  // Look for social plugins on the page
    });
});</script>
<script>
{% if instagram_number %}
    var feed = new Instafeed({
        get: 'user',
        userId: {{ instagram_number }},
        clientId: '00af6175cc4947bf9963b41062b72afb',
        sortBy: 'most-recent',
        accessToken: '{{ access_token }}',
        'links': false,
        template: '<option data-img-src="' + '{{ "{{image}" }}}" value="' + '{{ "{{image}" }}}"></option>',
        after: function () {
            $('#instafeed').imagepicker();
        }
    });
    feed.run();
    $('div.loader').hide();
    $('#overlay').hide();
    $('#media-library').click(function () {
        $('#inner-wrap').hide();
        $('#instagram-lib').show();
    });
    $('#instagram-selected').click(function () {
        var image_link = $('#instafeed').val();
        var imageObj = new Image();
        imageObj.onload = function () {
            drawImageDraggable(imageObj);
        };
        $.ajax({
            type: "POST",
            url: "/post_pic/",
            data: {
                image: image_link,
            },
            async: false,
            timeout: 30000,
            success: function (data) {
                image_urls[i] = data["image"];
                imageObj.src = data["image"];
            },
            error: function (x, t, m) {
                if (t === "timeout") {
                    //Alert timeout happened.
                } else {
                }
            }
        });
        $('.after-inst').show();
        $('#instagram-lib').hide();
    });
{% elif twitter %}
    var $insta = $('#instafeed');
    {% for u in urls %}
        $insta.append('<option data-img-src="' + '{{ u }}" value="' + '{{ u }}"></option>');
    {% endfor %}
    $('#instafeed').imagepicker();
    $('#media-library').click(function () {
        $('#inner-wrap').hide();
        $('#instagram-lib').show();
    });
    $('div.loader').hide();
    $('#overlay').hide();
    $('#instagram-selected').click(function () {
        var image_link = $('#instafeed').val();
        var imageObj = new Image();
        imageObj.onload = function () {
            drawImageDraggable(imageObj);
        };
        $.ajax({
            type: "POST",
            url: "/post_pic/",
            data: {
                image: image_link,
            },
            async: false,
            timeout: 30000,
            success: function (data) {
                imageObj.src = data["image"];
            },
            error: function (x, t, m) {
                if (t === "timeout") {
                    //Alert timeout happened.
                } else {
                }
            }
        });
        $('.after-inst').show();
        $('#instagram-lib').hide();
    });
{% elif facebook %}
    $(function () {
        fbphotoSelect = function (id) {
            // if no user/friend id is sent, default to current user
            if (!id) id = 'me';

            callbackAlbumSelected = function (albumId) {
                var album, name;
                album = CSPhotoSelector.getAlbumById(albumId);
                // show album photos
                selector.showPhotoSelector(null, album.id);
            };

            callbackAlbumUnselected = function (albumId) {
            };

            callbackPhotoSelected = function (photoId) {
                var buttonOK = $('#CSPhotoSelector_buttonOK');
                buttonOK.show();
            };

            callbackPhotoUnselected = function (photoId) {
            };

            callbackSubmit = function (photoId) {
                var photo;
                photo = CSPhotoSelector.getPhotoById(photoId);
                var imageObj = new Image();
                imageObj.onload = function () {
                    drawImageDraggable(imageObj);
                };
                $.ajax({
                    type: "POST",
                    url: "/post_pic/",
                    data: {
                        image: photo['source'],
                    },
                    async: false,
                    timeout: 30000,
                    success: function (data) {
                        imageObj.src = data["image"];
                    },
                    error: function (x, t, m) {
                        if (t === "timeout") {
                            //Alert timeout happened.
                        } else {
                        }
                    }
                });
                $('.after-inst').show();
                $('#instagram-lib').hide();
                selector.reset();
            };

            // Initialise the Photo Selector with options that will apply to all instances
            CSPhotoSelector.init({debug: true}, '{{ access_token }}');

            // Create Photo Selector instances
            selector = CSPhotoSelector.newInstance({
                callbackAlbumSelected: callbackAlbumSelected,
                callbackAlbumUnselected: callbackAlbumUnselected,
                callbackPhotoSelected: callbackPhotoSelected,
                callbackPhotoUnselected: callbackPhotoUnselected,
                callbackSubmit: callbackSubmit,
                maxSelection: 1,
                albumsPerPage: 6,
                photosPerPage: 200,
                autoDeselection: true
            });
            // reset and show album selector
            selector.reset();
            selector.showAlbumSelector(id);
        };

        $('#media-library').click(function () {
            $('#inner-wrap').hide();
            fbphotoSelect(null);
        });
    });

{% endif %}
$('#back-select').click(function () {
    $('#inner-wrap').show();
    $('#instagram-lib').hide();
});
$('#back-to-select').click(function () {
    $('#inner-wrap').show();
    $('#instagram-lib').hide();
    $('.after-inst').hide();
});
$('#finish').click(function () {
    $('#back-to-select').css('opacity', '0');
    $(this).css('opacity', '0');
    $('#arrow').css('opacity', '0');
    $('#iamtom').css('opacity', '0');
    html2canvas($('#image-main'), {
        onrendered: function (canvas) {
            var img = canvas.toDataURL("image/png");
            $('.after-inst').hide();
            $('.saved-image').show();
            $('#saved-image').append('<img src="' + img + '" style="width: 100%; height: 100%"/>');
            setTimeout(function () {
                //$('#saved-text').hide();
            }, 1000);
            $.ajax({
                type: "POST",
                url: "/addimage/",
                data: {
                    image: canvas.toDataURL(),
                },
                async: false,
                timeout: 30000,
                success: function (data) {
                    $('#pinterest-share').attr('href', 'http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fiamtom.com&media=http%3A%2F%2Fiamtom.com' + data['url'] + '&description=Next%20stop%3A%20Pinterest');
                    $('#pinterest-share').click(function () {
                        $(this).hide();
                    });
                    $('#instagram-share').click(function () {
                        $.post('/share-instagram/', {'photo': data['url']}, function () {
                            $('#instagram-share').hide();
                        });
                    });
                    $('#twitter-share').attr('href', 'http://twitter.com/share?text=I%20have%20just%20created%20my%20own%20TOM.&url=http%3A%2F%2Fiamtom.com' + data['url']);
                    $('#twitter-share').click(function (event) {
                        var width = 575,
                                height = 400,
                                left = ($(window).width() - width) / 2,
                                top = ($(window).height() - height) / 2,
                                url = this.href,
                                opts = 'status=1' +
                                        ',width=' + width +
                                        ',height=' + height +
                                        ',top=' + top +
                                        ',left=' + left;

                        window.open(url, 'twitter', opts);
                        $('#twitter-share').hide();
                        return false;
                    });
                    $('#facebook-share').click(function () {
                        FB.api('/me/photos?access_token={{ access_token }}', 'post', data, function (response) {
                            if (response.post_id) {
                                $.post('/post_id/', {post_id: response.post_id}).done(
                                        function () {
                                            $('#facebook-share').hide();
                                        });
                            } else {
                            }
                        });
                    });
                    $('html').click(function () {
                        $('#saved-text').css('opacity', '0');
                        $(this).click(null);
                    });

                },
                error: function (x, t, m) {
                    if (t === "timeout") {
                        //Alert timeout happened.
                    } else {
                    }
                }
            });
        }
    });
});
$('#done').click(function () {
    $('.saved-image').hide();
    $('#done-div').show();
});
{% if not request.is_mobile %}
    // Put event listeners into place
    window.addEventListener("DOMContentLoaded", function () {
        // Grab elements, create settings, etc.
        var video = document.getElementById("video"),
                videoObj = { "video": true },
                errBack = function (error) {
                    console.log("Video capture error: ", error.code);
                };
        var $vid = $('#video');
        $vid.attr('width', $vid.width());
        $vid.attr('height', $vid.height());

        $('#take-photo-button').click(function () {
            if (navigator.getUserMedia) { // Standard
                navigator.getUserMedia(videoObj, function (stream) {
                    video.src = stream;
                    video.play();
                    $('#snap').show();
                }, errBack);
            } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
                navigator.webkitGetUserMedia(videoObj, function (stream) {
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                    $('#snap').show();
                }, errBack);
            }
            else if (navigator.mozGetUserMedia) { // Firefox-prefixed
                navigator.mozGetUserMedia(videoObj, function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                    $('#snap').show();
                }, errBack);
            } else {
                return;
            }
            $('#inner-wrap').hide();
            $('#take-photo-div').show();
            document.getElementById("snap").addEventListener("click", function () {
                var img = video;
                $('#take-photo-div').hide();
                $('.after-inst').show();
                drawImageDraggable(img);
            });
        });

    }, false);
{% endif %}
$(function () {
    $('#upload-photo-button').click(function () {
        $('#upload-file').trigger('click');
    });

    $('#upload-file').change(function () {
        var imageObj = new Image();
        imageObj.onload = function () {
            drawImageDraggable(imageObj);
        };
        var FR = new FileReader();
        FR.onload = function (e) {
            $.ajax({
                type: "POST",
                url: "/post_pic/",
                data: {
                    image: e.target.result,
                },
                async: false,
                timeout: 30000,
                success: function (data) {
                    imageObj.src = data["image"];
                    $('#inner-wrap').hide();
                    $('.after-inst').show();
                },
                error: function (x, t, m) {
                    if (t === "timeout") {
                        //Alert timeout happened.
                    } else {
                    }
                }
            });
        };
        FR.readAsDataURL(this.files[0]);
    });
});
</script>
<script>
    var clicked;
    var stage;
    var layer;
    var rect;
    var first_drag = true;
    $(function () {
        $('#current-instruction').delegate('.circle.white', 'click', function () {
            $('#imtom').attr('src', '{% static 'iPad pngs/i-am-tom-white-large.png' %}');
        });
        $('#current-instruction').delegate('.circle.grey', 'click', function () {
            $('#imtom').attr('src', '{% static 'iPad pngs/i-am-tom-grey.png' %}');
        });
        $('#current-instruction').delegate('.circle.black', 'click', function () {
            $('#imtom').attr('src', '{% static 'iPad pngs/i-am-tom-Black.png' %}');
        });
    });
    function drawImageDraggable(imageObj) {
        clicked = $('#main-image');
        stage = new Kinetic.Stage({
            container: 'main-image',
            width: clicked.width(),
            height: clicked.height()
        });
        layer = new Kinetic.Layer();
        rect = new Kinetic.Rect({
            x: 0,
            y: 0,
            width: clicked.width(),
            height: clicked.height(),
            fill: 'black'
        });
        layer.add(rect);
        stage.add(layer);
        var image_added = null;
        if (image_added && image_added != null)
            image_added.remove();
        var width = clicked.width();
        var height = clicked.height();
        if (imageObj.width / imageObj.height > 1) {
            width = GetWidth(height, imageObj.width, imageObj.height);
            function boundX(pos) {
                if (first_drag) {
                    $('#arrow').css('visibility', 'hidden');
                    $('#current-instruction').html('<p>Select from the following options below to customize your TOM*</p>' +
                            '<span class="circle white"></span><span class="circle grey"></span><span class="circle black"></span>');
                    first_drag = false;
                }
                var X = pos.x;
                return {
                    x: X,
                    y: this.getAbsolutePosition().y
                }
            }

            image_added = new Kinetic.Image({
                image: imageObj,
                x: 0,
                y: 0,
                width: width,
                height: height,
                draggable: true,
                dragBoundFunc: boundX
            });
        } else {
            height = GetHeight(width, imageObj.width, imageObj.height);
            function boundY(pos) {
                if (first_drag) {
                    $('#arrow').css('visibility', 'hidden');
                    $('#current-instruction').html('<p>Select from the following options below to customize your TOM*</p>' +
                            '<span class="circle white"></span><span class="circle grey"></span><span class="circle black"></span>');
                    first_drag = false;
                }
                var Y = pos.y;
                return {
                    x: this.getAbsolutePosition().x,
                    y: Y
                }
            }

            image_added = new Kinetic.Image({
                image: imageObj,
                x: 0,
                y: 0,
                width: width,
                height: height,
                draggable: true,
                dragBoundFunc: boundY
            });
        }
        // add cursor styling
        image_added.on('mouseover', function () {
            document.body.style.cursor = 'pointer';
        });
        image_added.on('mouseout', function () {
            document.body.style.cursor = 'default';
        });
        layer.add(image_added);
        image_added.cache();
        image_added.filters([Kinetic.Filters.Grayscale]);
        layer.draw();
    }
    function GetWidth(newHeight, currentWidth, currentHeight) {
        if (currentHeight == 0) return newHeight;
        var aspectRatio = currentWidth / currentHeight;
        return newHeight * aspectRatio;
    }

    function GetHeight(newWidth, currentWidth, currentHeight) {
        if (currentHeight == 0) return newWidth;
        var aspectRatio = currentWidth / currentHeight;
        return newWidth / aspectRatio;
    }
</script>
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<script type="text/javascript">
</script>
</html>