{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Benefit Cosmetics</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>
<div class="loader"></div>
<div class="content" id="wrap" style="padding: 50px">
    <div class="polaroid" id="shopaholic-div">
        <div id="shopaholic" style="display: inline"></div>
    </div>

    <div class="polaroid" id="independent-div">
        <div id="independent" style="display: inline"></div>
    </div>

    <div class="polaroid" id="sporty-div">
        <div id="sporty" style="display: inline"></div>
    </div>


    <div class="polaroid" id="badgal-div">
        <div id="badgal" style="display: inline"></div>
    </div>

    <img src="{% static 'images/Beneselfies-Logo.png' %}" style="width: 275px; height:48px; margin-bottom: 120px"/>


    <div class="polaroid" id="flirt-div">
        <div id="flirt" style="display: inline"></div>
    </div>


    <div class="polaroid" id="gorgeous-div">
        <div id="gorgeous" style="display: inline"></div>
    </div>


    <div class="polaroid" id="joker-div">
        <div id="joker" style="display: inline"></div>
    </div>

    <div class="polaroid" id="sexy-div">
        <div id="sexy" style="display: inline"></div>
    </div>
    <div id="central-div">
        <div id="central" width="500" height="550">
        </div>
        <div style="text-align: center">
            <button id="upload"
                    style="background: url('{% static 'images/Upload-Pink.png' %}'); width: 102px; height: 52px"
                    onclick="$('#upload-div').dialog('open');"></button>
            <button id="done" style="background: url('{% static 'images/Done-Pink.png' %}'); width: 102px; height: 52px"
                    onclick="$('#central-div').dialog('close');"></button>
        </div>
    </div>

    <div id="upload-div">
        <select id="select-upload">
        </select>
        <br>
        <button id="select-face" onclick="selectPic();">Select</button>
        <br>
        OR
        <form action="/addimage/" method="post" enctype="multipart/form-data" id="upload-form">
            {% csrf_token %}
            <input type="hidden" value="" name="user_id" id="user_id">
            <input id="image-upload" type="file" name="image">
            <button type="submit" id="upload-image">Submit</button>
        </form>
    </div>
    <div id="fb-root">
    </div>
    <button id="next"
            style="background: url('{% static 'images/Next-Pink.png' %}'); width: 102px; height: 52px"></button>
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'js/image-picker.min.js' %}"></script>
<script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.6.0.min.js"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
<link rel="stylesheet" href="{% static 'css/image-picker.css' %}"/>

<script type="text/javascript">
$('#next').hide();
$('div.loader').hide();
$('#upload-form').ajaxForm({
    success: function (response) {
        var imageObj = new Image();
        imageObj.onload = function () {
            drawImageDraggable(this);
        };
        imageObj.src = response['url'];
        next++;
        $('#next').show();
        $('#upload-div').dialog('close');
    }
});

var next = 0;
var stageCentral = null;
var imageLayer = null;
var image_added = null;

function drawImageDraggable(imageObj) {
    var image_added = new Kinetic.Image({
        image: imageObj,
        x: stageCentral.getWidth() / 2 - 400 / 2,
        y: stageCentral.getHeight() / 2 - 500 / 2,
        width: 400,
        height: 500,
        draggable: true
    });

    // add cursor styling
    image_added.on('mouseover', function () {
        document.body.style.cursor = 'pointer';
    });
    image_added.on('mouseout', function () {
        document.body.style.cursor = 'default';
    });

    imageLayer.add(image_added);
    image_added.moveDown();
    imageLayer.draw();
}

function drawImageCentral(imageObj, container) {
    stageCentral = new Kinetic.Stage({
        container: container,
        width: 500,
        height: 550
    });
    imageLayer = new Kinetic.Layer();

    var img = new Kinetic.Image({
        image: imageObj,
        x: stageCentral.getWidth() / 2 - 500 / 2,
        y: stageCentral.getHeight() / 2 - 550 / 2,
        width: 500,
        height: 550
    });
    imageLayer.add(img);
    stageCentral.add(imageLayer);
}


function drawImage(imageObj, container) {
    var stage = new Kinetic.Stage({
        container: container,
        width: 272,
        height: 302
    });
    var layer = new Kinetic.Layer();

    var img = new Kinetic.Image({
        image: imageObj,
        x: stage.getWidth() / 2 - 272 / 2,
        y: stage.getHeight() / 2 - 302 / 2,
        width: 272,
        height: 302
    });

    layer.add(img);
    stage.add(layer);
}

function selectPic() {
    bringForward($('select').val());
    $('#upload-div').dialog('close');
}
var photo_urls = [];
var accessToken = null;
var user_id = null;

$('#next').click(function () {
    var canvases = $('#wrap').find('> .polaroid');
    $('div.loader').show();
    var done = 0;
    for (var i = 0; i < canvases.length; i++) {
        if (canvases[i].children[0].children[0].children[0]) {
            dataURL = canvases[i].children[0].children[0].children[0].toDataURL();
        } else {
            dataURL = canvases[i].children[0].children[0].toDataURL();
        }
        $.ajax({
            type: "POST",
            url: "/upload_custom/",
            enctype: 'multipart/form-data',
            data: {'user_id': user_id, 'file': dataURL },
            success: function (data) {
                FB.api('/' + user_id.toString() + '/photos?access_token=' + accessToken.toString(), 'post', {
                    url: window.location.origin + "/" + data['image']
                }, function (response) {
                    done++;
                    if (done + 1 == canvases.length) {
                        window.location = "/done/" + user_id;
                    }
                    if (response && response.id) {

                    } else {
                        //window.location = "/retry";
                    }
                });
            }
        });
    }
});

$(function () {
    $('#central-div').dialog({
        modal: true,
        autoOpen: false,
        height: 700,
        width: 535,
        close: function (event, ui) {
            $('#' + current_open).html('');
            drawImage($('#central').children()[0].children[0], current_open);
        }
    });
    $('#upload-div').dialog({
        modal: true,
        autoOpen: false,
        width: 700,
        height: 500
    });
    // init the FB JS SDK
    FB.init({
        appId: '151985691672341',                        // App ID from the app dashboard
        cookie: true,
        status: true,                                 // Check Facebook Login status
        xfbml: true                                  // Look for social plugins on the page
    });

    FB.getLoginStatus(function (response) {
        if (response.status == 'connected') {
            try {
                FB.api('/me', function (response) {
                    $.post('/email/', {user_id: user_id, email: response.email});
                });
                user_id = response.authResponse.userID;
                $("#user_id").val(user_id);
                accessToken = FB.getAuthResponse()['accessToken'];
                FB.api('/' + user_id + '/' + 'albums?access_token=' + FB.getAuthResponse()['accessToken'], function (response) {
                    var albums = response["data"];
                    $('#select-upload').html('');
                    photo_urls = [];
                    var count = 0;
                    for (var i = 0; i < albums.length; i++) {
                        var albumid = albums[i]["id"];
                        FB.api("/" + albumid + "/photos", function (response) {
                            var photos = response["data"];
                            for (var v = 0; v < photos.length; v++) {
                                var image_arr = photos[v]["images"];
                                //POST to server
                                $.ajax({
                                    type: "POST",
                                    url: "/post_pic/",
                                    data: {
                                        image: image_arr[(image_arr.length - 1)]["source"] + '?width=400&height=500',
                                        user_id: user_id
                                    },
                                    success: function (data) {
                                        photo_urls.push(data["image"])
                                    }
                                });

                                //this is for the small picture that comes in the second column
                                var text = '<option data-img-src="' + image_arr[(image_arr.length - 1)]["source"] + '?type=normal" value=' + count.toString() + '/>';

                                $('#select-upload').prepend(text);
                                count++;
                            }
                            $("select").imagepicker()
                        });
                    }
                });
            } catch (e) {
                window.location = "/like";
            }
        } else {
            window.location = "/like";
        }
    });
});
var current_open = null;
$('#wrap').find('> .polaroid').click(function () {
    $('#central-div').dialog("open");
    current_open = this.id;
    if (this.children[0].children[0].children[0]) {
        drawImageCentral(this.children[0].children[0].children[0], 'central');
    } else {
        drawImageCentral(this.children[0].children[0], 'central');
    }
});
function bringForward(id) {
    var imageObj = new Image();
    imageObj.onload = function () {
        drawImageDraggable(this);
    };
    imageObj.src = photo_urls[id];
    next++;
    $('#next').show();
}


var imageObj = new Image();

imageObj.onload = function () {
    drawImage(this, 'shopaholic');
};

imageObj.src = '{% static 'images/The-Shopaholic-Transparent.png' %}';

var imageObj2 = new Image();

imageObj2.onload = function () {
    drawImage(this, 'independent');
};

imageObj2.src = '{% static 'images/Miss-Independent-Transparent.png' %}';

var imageObj3 = new Image();

imageObj3.onload = function () {
    drawImage(this, 'sporty');
};

imageObj3.src = '{% static 'images/Sporty-Girl-Transparent.png' %}';

var imageObj4 = new Image();

imageObj4.onload = function () {
    drawImage(this, 'badgal');
};

imageObj4.src = '{% static 'images/The-Bad-Gal-Transparent.png' %}';

var imageObj5 = new Image();

imageObj5.onload = function () {
    drawImage(this, 'flirt');
};

imageObj5.src = '{% static 'images/The-Flirt-Transparent.png' %}';

var imageObj6 = new Image();

imageObj6.onload = function () {
    drawImage(this, 'gorgeous');
};

imageObj6.src = '{% static 'images/The-Gorgeous-Geek-Transparent.png' %}';

var imageObj7 = new Image();

imageObj7.onload = function () {
    drawImage(this, 'joker');
};

imageObj7.src = '{% static 'images/The-Joker-Transparent.png' %}';

var imageObj8 = new Image();

imageObj8.onload = function () {
    drawImage(this, 'sexy');
};

imageObj8.src = '{% static 'images/The-Sexy-One-Transparent.png' %}';

</script>
</body>
</html>